[2022-01-23 06:36] romange opened #1 "finalize blpop algorithm"
To reproduce the missing functionality:

[code]

[2022-01-24 14:31] romange opened #2 "deadlock when performing `this_fiber::sleep` statement."
when changing `this_fiber::yield();` with `this_fiber::sleep_for(3us);`  in rdb_snapshot.cc
dragonfly sometimes deadlocks. Currently, it does not have any impact since we use `yield()` but it's worrisome that
the `helio` scheduler has deadlock bugs. I need to think how to reproduce it in synthetic test and fix it.

[2022-01-27 18:18] romange opened #3 "make expiry algorithm consistent"
See https://ably.com/blog/redis-keys-do-not-expire-atomically for motivation.

if we use transactions to set expiry or to access multiple possibly expired items, we should use a consistent clock value during the transaction execution.

current behavior: we use real clock to set expiry and to test it.

[2022-01-29 20:08] romange opened #4 "add missing options in already implemented commands that appear in 2.8"
1. SCAN - TYPE / COUNT / MATCH
2. SET - KEEPTTL / GET / EXAT / PXAT
3. EXPIRE - NX|XX|GT|LT

[2022-03-07 06:05] romange opened #6 "consistent expiration semantics"
Currently, each thread updates its expiry clock independently from others and independently from the ongoing transactions.

1. We should move expiration clock sampling to transaction. Transaction should have a constant number used through all its operations,
otherwise we risk having inconsistent replies within a  transaction for GET X...some delay  GET X sequences.
2. We should consider having a s

[2022-03-09 06:18] romange opened #7 "implement shrinkage for dash table"
currently we only support grow path and a shrinkage with `Clear()`

[2022-04-06 05:30] odedponcz opened #8 "Check fail reached"
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/list --skiptest "check compression" --skiptest "LINSERT|LPOS|LMOV|BLMPOP" --skiptest BRPOPLPUSH --tags -needs:debug --tags -large-memory --skiptest "LPOP/RPOP with wrong number of arguments" --skiptest "LPOP/RPOP with the count 0 returns an empty array in RESP2" --ski

[2022-04-06 07:37] #8 closed, assigned to romange

[2022-04-06 10:55] odedponcz opened #9 "LINDEX against non-list value"
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/list --only "LINDEX against non-list value"

lindex mylist 0
should return WRONGTYPE but returns nil

[2022-04-06 11:55] odedponcz opened #10 "lset range error"
del mylist
RPUSH mylist 99
RPUSH mylist 98
RPUSH mylist RomanRoman
RPUSH mylist 96
RPUSH mylist 95
lset mylist 1 foo
lset mylist -1 boo
lset mylist 10 foo

return ERR Internal error should return ERR*range*

from list.tcl this is the "LSET out of range index - linkedlist" test but it cannot run individually.

[2022-04-06 14:16] odedponcz opened #11 "ZADD and ZINCRBY with non float values"
zadd myz 1 x
zincrby myz 1 x
zincrby myz nan x
result should be:
(error) value is not a valid float

zadd myz nan x
result should be:
(error) value is not a valid float

currently the result is:
(error) ERR resulting score is not a number (NaN)

[2022-04-06 14:32] odedponcz opened #12 "zadd return value should be the number of items updated"
del ztmp
zadd ztmp xx 10 x
should return 0
currently returns nil

REDIS
127.0.0.1:6380> del tmp
(integer) 1
127.0.0.1:6380> zadd tmp xx 10 x
(integer) 0

DRAGONFLY
127.0.0.1:6379> del tmp
(integer) 0
127.0.0.1:6379> zadd tmp xx 10 x
(nil)

[2022-04-06 14:50] odedponcz opened #13 "ZADD LT and GT are not compatible"
REDIS:
127.0.0.1:6380> del ztmp
(integer) 0
127.0.0.1:6380> zadd ztmp lt gt 10 x
(error) ERR GT, LT, and/or NX options at the same time are not compatible

DRAGONFLY:
127.0.0.1:6379> del ztmp
(integer) 0
127.0.0.1:6379> zadd ztmp lt gt 10 x
(integer) 1

[2022-04-06 14:55] odedponcz opened #14 "zremrangebyscore non float range error"
REDIS:
127.0.0.1:6380> zremrangebyscore fooz 1 NaN
(error) ERR min or max is not a float

DRAGONFLY:
127.0.0.1:6379> zremrangebyscore fooz 1 NaN
(integer) 0

[2022-04-06 15:08] odedponcz opened #15 "zscore percision"
REDIS:
127.0.0.1:6380> zadd tmp 0.123123123 x
(integer) 1
127.0.0.1:6380> zscore tmp x
"0.123123123"

DRAGONFLY:
127.0.0.1:6379> zadd tmp 0.123123123 x
(integer) 1
127.0.0.1:6379> zscore tmp x
"0.123123"

[2022-04-06 19:59] #12 closed, assigned to romange

[2022-04-06 19:59] #11 closed, assigned to romange

[2022-04-06 19:59] #13 closed, assigned to romange

[2022-04-06 19:59] #15 closed, assigned to romange

[2022-04-07 09:02] #9 closed, assigned to romange

[2022-04-07 10:32] odedponcz opened #16 "Error message for SET | GETEX with invalid EX time"
REDIS
127.0.0.1:6380> SET foo bar EX -9999999999999999
(error) ERR invalid expire time in set

DRAGONFLY
127.0.0.1:6379> SET foo bar EX -9999999999999999
(error) ERR expiry is out of range

[2022-04-07 10:39] odedponcz opened #17 "Error message for invalid EXPIRE time"
REDIS
127.0.0.1:6380> set foo bar
OK
127.0.0.1:6380> EXPIRE foo 9223370399119966
(error) ERR invalid expire time in expire

DRAGONFLY:
127.0.0.1:6379> set foo bar
OK
127.0.0.1:6379> EXPIRE foo 9223370399119966
(error) ERR expiry is out of range

another case:
REDIS
127.0.0.1:6380> EXPIRE foo -9223372036854776
(error) ERR invalid expire time in expire

DRAGONFLY:
127.0.0.1:6379> EXPIRE foo -9223372

[2022-04-07 11:06] odedponcz opened #18 "INFO CPU does not return anything"
REDIS:
127.0.0.1:6380> info cpu
\# CPU
used_cpu_sys:70.619133
used_cpu_user:38.926553
used_cpu_sys_children:0.000000
used_cpu_user_children:0.007828
used_cpu_sys_main_thread:70.617346
used_cpu_user_main_thread:38.928299

DRAGONFLY:
127.0.0.1:6379> info cpu

[2022-04-07 12:13] odedponcz opened #19 "Crash report - maybe reproducable"
I20220407 14:32:14.753866 217703 main_service.cc:361] Got: [DEBUG,log,### Starting test Vararg DEL in tests/unit/keyspace.tcl]
I20220407 14:32:14.754456 217705 main_service.cc:361] Got: [SET,foo1{t},a]
I20220407 14:32:14.755033 217705 main_service.cc:361] Got: [SET,foo2{t},b]
I20220407 14:32:14.755450 217705 main_service.cc:361] Got: [SET,foo3{t},c]
I20220407 14:32:14.755872 217705 main_service.cc

[2022-04-07 14:09] odedponcz opened #20 "MULTI / EXEC basics crash the server"
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/multi --only "MULTI / EXEC basics"

I20220407 17:08:08.921078 226477 main_service.cc:361] Got: [DEBUG,log,### Starting test MULTI / EXEC basics in tests/unit/multi.tcl]
I20220407 17:08:08.921932 226476 main_service.cc:361] Got: [DEL,mylist]
I20220407 17:08:08.922478 226476

[2022-04-08 03:56] #19 closed, assigned to romange

[2022-04-08 03:56] #20 closed, assigned to romange

[2022-04-13 08:07] romange opened #21 "missing features for rdb save"
1. save should dump lua scripts
2. save should cover multiple database, currently saves only db0.

[2022-04-15 11:30] #2 closed, assigned to nobody

[2022-04-17 22:18] #10 closed, assigned to romange

[2022-04-17 22:18] #14 closed, assigned to romange

[2022-04-17 22:18] #16 closed, assigned to romange

[2022-04-17 22:18] #17 closed, assigned to romange

[2022-04-25 07:51] odedponcz opened #22 "INCRBYFLOAT errors"
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --quiet --singledb --single unit/type/incr --skiptest "INCR uses shared objects" --skiptest "INCR can modify objects"
[err]: INCRBYFLOAT fails against key with spaces (left) in tests/unit/type/incr.tcl
Expected 'ERR*valid*' to equal or match '12'
[err]: INCRBYFLOAT fails against key with spaces (right) in tests/unit/type

[2022-04-25 08:02] odedponcz opened #23 "SDIFF and SDIFFSTORE"
oded@OdedCmp:~/stratto/redis$ ./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/set --tags -needs:debug --skiptest "SINTERCARD|SRANDMEMBER|WATCH|SMISMEMBER" --skiptest "SMOVE only notify dstset when the addition is successful" --skiptest "SADD an integer larger than 64 bits"
[err]: SDIFF against non-set should throw

[2022-04-25 09:07] #22 closed, assigned to romange

[2022-04-25 09:46] odedponcz opened #24 "Server crash"
run this (I wrote this twice on purpose):
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/list --skiptest "check compression" --skiptest "LPOS|LMOV|BLMPOP|BRPOPLPUSH|RPOPLPUSH|LMPOP|CLIENT|STORE" --tags -needs:debug --skiptest "client unblock tests" --skiptest "List ziplist of various encodings"

./runtest --host l

[2022-04-25 09:48] odedponcz opened #25 "LPOP/RPOP result on RESP2"
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/list --skiptest "check compression" --skiptest "LPOS|LMOV|BLMPOP|BRPOPLPUSH|RPOPLPUSH|LMPOP|CLIENT|STORE" --tags -needs:debug --skiptest "client unblock tests" --skiptest "List ziplist of various encodings"

[err]: LPOP/RPOP with the count 0 returns an empty array in

[2022-04-25 11:31] odedponcz opened #26 "Missing withscores argument in ZRANGE ZREVRANGEBYSCORE command"
I20220425 13:09:32.508553 65285 main_service.cc:361] Got: [ZREVRANGE,ztmp,0,-1,withscores]
ERR wrong number of arguments for 'ZREVRANGE' command.

[2022-04-25 11:46] odedponcz opened #27 "zrevrangebyscore with -inf"
DEL zset
ZADD zset -inf a
ZADD zset 1 b
ZADD zset 2 c
ZADD zset 3 d
ZADD zset 4 e
ZADD zset 5 f
ZADD zset +inf g
zrevrangebyscore zset 2 -inf
should return c b a

[2022-04-25 11:47] #25 closed, assigned to romange

[2022-04-25 11:54] odedponcz opened #28 "ZRANGEBYSCORE LIMIT not supported"
ERR unsupported option LIMIT

[2022-04-25 12:04] odedponcz opened #29 "info cpu is not supported"
\# Server
\# Clients
\# Memory
\# Stats
\# TIERED_STORAGE
\# Replication
\# Commandstats
\# Errorstats
\# Keyspace

But CPU is not listed.

[2022-04-25 12:14] odedponcz opened #30 "renamenx is not supported"

[2022-04-25 12:38] #27 closed, assigned to romange

[2022-04-25 12:41] #30 closed, assigned to romange

[2022-04-25 12:42] #29 closed, assigned to romange

[2022-04-25 16:09] #26 closed, assigned to romange

[2022-04-25 16:09] #28 closed, assigned to romange

[2022-04-27 07:38] #1 closed, assigned to romange

[2022-04-27 07:42] #24 closed, assigned to romange

[2022-05-01 10:12] romange opened #31 "some observability commands are being used by monitoring applications"
from redis_exporter log:
[code]

[2022-05-01 18:47] romange opened #32 ""debug reload" operates only on db 0"

[2022-05-10 09:42] romange opened #33 "deadlock on aarch64 - kernel 5.13"
I succeed to reproduce it on instance x2gd.8xlarge, ubuntu 20.04.4 by running:

`while true; do memtier_benchmark  --ratio 1:0  -n 1000 -d 120000; done`

at some point the server gets stuck, and `netstat -atl` shows a socket with unread data in its recv-q.

Seems like a missed completion from io_uring but I have not confirmed it with 100%.
I did confirm that my `Recv` callback does not run but it

[2022-05-10 09:55] romange opened #34 "slowness on x2gd.8xlarge"
Again, arm64. Specifically x2gd.8xlarge. Reproduced on ubuntu 22.04 and 20.04.

When running dragonfly with 32 threads, its 99 and 99.9 latency percentiles are very high (10-20ms).
To reproduce : `memtier_benchmark  --ratio 0:1  -n  10000 --hide-histogram`

With `--command=ping` benchmark the latency is adequate so I dug in message-passing code. Indeed I saw round-trip latencies of over 10ms (Say

[2022-05-11 05:19] romange opened #35 "expiry stops working after process is live for a few years"
We use `base + offset ` computation for expiry, where offset is 32bit value that could hold milliseconds period.
In practice we are limited to ~36 hours before the offset overflows. We need to implement a per-hour process that updates the offsets in the expire table.

[2022-05-15 08:05] romange opened #36 "fix persistence flow (load/save)"
Fix load on start - right now we do not load a file upon starting the database.

fix save naming scheme. I would like to change the default of overriding the same file again and again.
But we should provide a config option to fallback to redis behavior.

[2022-05-17 13:01] romange opened #37 "add a test for flush/blocking interactions"
flushdb/flushall and blpop

[2022-05-20 09:37] #36 closed, assigned to nobody

[2022-05-20 20:28] #21 closed, assigned to romange

[2022-05-21 03:27] #37 closed, assigned to nobody

[2022-05-26 09:46] odedponcz opened #41 "Server crush (check fail)"
docker run --network=host --rm dragonfly -alsologtostderr

./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/list --skiptest "check compression" --skiptest "LPOS|LMOV|BLMPOP|BRPOPLPUSH|RPOPLPUSH|LMPOP|CLIENT|STORE" --tags -needs:debug --skiptest "client unblock tests" --skiptest "List ziplist of various encodings"

.

[2022-05-26 15:02] romange opened #42 "bullseye support"
debian bullseye is quite popular. Apparently, its kernel version is  5.10. We should support it.
apparently there docker run has limited amount of mlocked. We should gracefully explain how to fix it as well.

[2022-05-27 09:21] #41 closed, assigned to romange

[2022-05-29 14:18] romange opened #46 "integrate version metadata into the build"
we should support:
a. version
b. git_sha
c. build timestamp

it should have optional dummy values for dev build and correct ones for release builds.

[2022-05-29 21:33] romange commented on #46
also add it to `MemcacheParser::VERSION` reply in main_service.cc

[2022-05-30 05:49] #46 closed

[2022-05-30 17:18] terrycojones opened #51 "Typos"
`on part with Redis 2.8` -> `on par with Redis 2.8` in the README

and there are two instances of "veticly" on https://dragonflydb.io/

Nice project! :-)

[2022-05-30 18:32] derrickburns commented on #51
verticly -> vertically

[2022-05-30 18:47] odedponcz commented on #51
update verticly -> vertically.
Thanks

[2022-05-30 18:47] #51 closed

[2022-05-30 20:01] millette commented on #3
Duplicate of #6 ?

[2022-05-30 20:17] romange commented on #3
Yep, closing the issue :)

[2022-05-30 20:17] #3 closed

[2022-05-30 21:27] jamesefhawkins opened #53 "could we discuss investing $100k-300k in dragonfly?"
i'm from hedgehog.vc (and i'm a cofounder of posthog.com)... we invest $100k to $300k+ in open source startups as a fun way to embrace other open source projects, and to help you learn from us

i can see there is a company formed around the project, and i read on HN that you're bootstrapped. i was curious if you'd consider taking funding or if you'd just like to talk about it?

if interested, id l

[2022-05-30 21:43] odedponcz commented on #53
Taking this offline.

[2022-05-30 21:43] #53 closed

[2022-05-31 02:50] Mr-Volcano opened #54 "PYIOTEX: Rename outer_excluding_join"
https://pdoc.bizmob.jp/pyiotex/relational_algebra.html

This function actually performs a full outer join, not an outer excluding join. Unfortunately the naming mistake was made a long time ago, so we need to make the fix in transitional stages.

[2022-05-31 02:50] #54 closed

[2022-05-31 04:18] ChStark opened #55 "On the home page ...."
Says '...utra fast in-memory datastore....' instead of '...ultra fast in-memory datastore...'

[2022-05-31 04:45] bugproof opened #56 "is it compatible with redis clients?"
there are many existing libraries for redis in different languages is this a drop-in replacement for redis or are you planning to develop these?

[2022-05-31 04:46] #56 closed

[2022-05-31 07:44] Hermsi1337 opened #57 "Helm-Chart"
Hey Folks,

I just stumbled across this insane project - great work so far! 🚀

I was wondering if you guys are already working on a `helm`-Chart in order to deploy `dragonfly` to Kubernetes?
It would be a lot easier for us to test `dragonfly` in our environment then.

Best regards!

[2022-05-31 07:47] romange commented on #57
Hi @Hermsi1337 , I personally have not run in on K8s but I know that @zacharya19  run in there .

Care to chip in @zacharya19  ?

[2022-05-31 07:53] firedupmike opened #58 "Benchmarks against other stores like Skytable/Aerospike/SSDB?"
This looks really interesting! Have you considered benchmarking against Skytable (which has [very impressive benchmarks](https://github.com/ohsayan/sky-benches) surpassing both KeyDB and Redis by a large factor) or Aerospike (which also has [very impressive benchmarks](https://aerospike.com/lp/five-signs-you-have-outgrown-redis/) against Redis)? I have been following all the projects lately and am

[2022-05-31 08:02] firedupmike commented on #58
Hmm, just to note neither Skytable nor Aerospike are compatible with Redis

[2022-05-31 08:02] romange commented on #58
I have not heard of Skytable before. By a first look of it - it's not redis compatible store.
It's not really a hard problem to introduce a highly efficient backend today that can handle single key operations in its K-V store . I actually released [midi-redis](https://github.com/romange/midi-redis) a while ago that does just that - it's just a few thousands lines of code and most of it is parsing.

[2022-05-31 08:03] romange commented on #58
exactly.

[2022-05-31 08:05] firedupmike commented on #58
Yeah, Aerospike is completely different (no commands and all) but Skytable does have a bunch of Redis/KeyDB actions

[2022-05-31 08:07] firedupmike commented on #58
Thanks for the info! Closing :)

[2022-05-31 08:07] #58 closed

[2022-05-31 08:08] firedupmike commented on #58
Just to note, Aerospike does have multi K/V operations and Skytable seems to have it on their roadmap. We can revisit this in the future maybe

[2022-05-31 08:26] FZambia opened #59 "Support Stream data structure"
Hello, came across Dragonfly on Hacker News. Very cool project – good luck with it!

I am very interested in [Stream data structure](https://redis.io/docs/manual/data-types/streams/) support - think that's the only missing command for me to start experimenting with Dragonfly.

Specifically, in my use case I am using:

* XADD
* XRANGE
* XREVRANGE

Hope this will be added at some point.

[2022-05-31 12:14] zacharya19 commented on #57
I would love to :)

@Hermsi1337 I wouldn't say it's already a work in progress, but it is probably something that would be easy to create, as at the moment the Dragonflydb is a single binary.
IMHO, it might be a bit early to create a helm chart, but it would be really interesting to build a K8S operator in the future to manage clusters and backups once HA is available.
Do you have any specific use

[2022-05-31 12:47] romange opened #61 "Implement prometheus compatible /metrics"
use redis_exporter for inspiration and for metric names. No need to export everything,  at least those metrics that appear in grafana dashboard.

[2022-05-31 12:48] romange commented on #59
Ok ok, I hear you load and clear. Your wish is my command.

[2022-05-31 12:52] TamCore commented on #57
It's very minimal and certainly still needs some love (liveness + readyness probes, storage for /data, ...). If you want to have a look: https://github.com/TamCore/dragonfly/tree/helm-chart/charts/dragonfly :) But until now, the rendered output is basically identical to the Deployment provided above :)

[2022-05-31 13:17] Hermsi1337 commented on #57
For me, in the context of Kubernetes, a `helm`-chart is always better when deploying.
I don't have to take care of config-related stuff (startup args, env-vars, pvcs, ...you name it).

In the end, when building applications, I want to spend the least time possible for configuration/deplyoment things.
Using `dragonfly` with helm is 5 lines of code vs. approx 100 (or more) lines without it.

[2022-05-31 14:54] romange commented on #55
I do not see it.

[2022-05-31 14:54] #55 closed

[2022-05-31 15:27] PabloSzx opened #65 "Docker compose usage"
What's the expected docker-compose usage?

![image](https://user-images.githubusercontent.com/8672915/171211065-a57279d4-18f2-4bb6-b496-79090be0ac92.png)

and is it possible to use docker port binding?

tested `dragonfly --port 6379 --network=host --ulimit memlock=-1` and it doesn't work either

[2022-05-31 15:39] romange commented on #65
I verified that `docker run -p 6379:6379 --network=host --ulimit memlock=-1 dragonfly` works with port binding. Will come back to you regarding docker compose

[2022-05-31 15:59] zacharya19 commented on #65
This is not a docker-compose issue, you're trying to pass flags to Dragonfly that are not related to it, but to docker (such as, `rm`, `ulimit`, `network`), try removing those params and it should work.
Instead of network host use docker-compose port forwarding and you can use `ulimit` param, e.g.:
[code]

[2022-05-31 16:02] romange commented on #65
What @zacharya19  said.

[2022-05-31 16:23] occasionallydavid opened #66 "High CPU usage while idle"
DragonflyDB appears to be continuously polling, with no sleeps or wakeups, on all CPUs even when completely idle.

Beyond energy efficiency, this makes it a liability in combination with any laptop battery, or any environment where Dragonfly must run alongside other servers (say, a classic LAMP style VPS environment)

Is there any way to adjust the design so that CPU usage is proportional to load?

[2022-05-31 16:34] romange commented on #66
can you please provide more info? say paste here htop screenshot showing the CPU usage?
I am asking because on my 8 CPU machine I see only 10% CPU usage (as 0.1 CPU) compared to 800% at full load.
The reason why there is some CPU usage is because of the 1ms resolution timer that handles expiry stuff.

[2022-05-31 16:46] occasionallydavid commented on #66
Is it possible to adjust this timeout, say by calculating it precisely, or making it adapt with load?

Going by powertop, my (already busy) laptop with all the usual heavyweight apps open (Firefox, Thunderbird, Signal) still experiences 40% more wakeups just with the idle DF running.

Thanks :)

Hardware:

[code]

Htop:

![image](https://user-images.githubusercontent.com/62972099/171227261-d039d6c

[2022-05-31 16:53] Joseph94m opened #68 "Dragonfly with celery and flower"
Hey,

I am trying to replace redis with dragonfly in a django project. Celery and Flower are complaining that dragonfly does not have the PSUBSCRIBE command: "Unknown command 'PSUBSCRIBE'". i can see that you guys already have this in your crosshairs:

![Screenshot 2022-05-31 at 18 49 15](https://user-images.githubusercontent.com/40126230/171229631-63fd5641-0bc7-44d6-87aa-52fb114f0d4e.png)

Any id

[2022-05-31 16:59] romange commented on #68
I will try to implement it in the next 2 weeks. Hopefully, it will be there in v0.2

[2022-05-31 17:18] romange commented on #66
it's really weird.  dragonfly should not get CPU so high in the idle state.
I am trying to think of what causes it. Can you pls do the following?
1. run `./dragongly --logtostderr` if running native or  `docker run ... `  - it should show you some dragonfly logs in the terminal.
1. Go to you localhost:6379 in your browser - you should see an HTTP page.
2. go to this url http://localhost:6379/profi

[2022-05-31 17:26] occasionallydavid commented on #66
I had to zip them due to attachment restrictions on GitHub

[issue66.zip](https://github.com/dragonflydb/dragonfly/files/8807453/issue66.zip)

[2022-05-31 17:41] occasionallydavid commented on #66
FYI dropping kSpinLimit to 0 on this hardware brings the CPU usage to closer to 30% (as reported by top across all CPUs, previously this was closer to 400/500%)

<details>
<summary>timeout -sINT 10 perf trace -s -p  440125</summary>

[code]
</details>

[2022-05-31 17:52] romange commented on #66
I attached the svg that I succeeded to get from the profiler.
It does not seem that the problem is with syscalls. I am 99.9% sure it's some artifact of this laptop architecture.

I see you built the binary yourself.  could you build it in debug mode and without changes? if you run `./helio/blaze.sh`  from the project dir it will create build-dbg subfolder where you can build dragonfly. could you r

[2022-05-31 18:00] occasionallydavid commented on #66
[issue66-dbg.zip](https://github.com/dragonflydb/dragonfly/files/8807978/issue66-dbg.zip)

[2022-05-31 18:04] occasionallydavid commented on #66
Debug build perf top:

![image](https://user-images.githubusercontent.com/62972099/171254559-8b14a559-3dd6-4571-8c7a-0c5756d75e9c.png)

Annotated pause():

![image](https://user-images.githubusercontent.com/62972099/171254687-dd45ed31-ad75-40de-84b0-15b176ca4c9d.png)

Run() has very little usage, seems to be related to that spin

[2022-05-31 18:09] romange commented on #66
yes, you are absolutely correct. It did not show such extreme behavior on my amd machine , on my intel laptop and on any of the cloud instances I run dragonfly.

[2022-05-31 18:10] occasionallydavid commented on #66
Just curious what generation / chip your Intel laptop is? I have extremely vague memories of the pause instruction changing at some point. This CPU is from Q3 2015, and (due to chipset bug with this particular Dell laptop) is running without any microcode updates

[2022-05-31 18:12] romange commented on #66
[code]

[2022-05-31 18:14] occasionallydavid commented on #66
Hmm, so your CPU is Kaby Lake and mine is Skylake. Going to try that reboot-with-microcode now

[2022-05-31 18:14] romange commented on #66
I am trying to fix what the right fix will be. I need to poll in cloud env, so probably we need a runtime flag.
In ideal it could be autoconfigured but I am not sure how to determine that `pause` is so cpu consuming...

[2022-05-31 18:16] romange commented on #66
Can you  reduce the multiplicative factor in `Pause()` from 100 to 1 ?

[2022-05-31 18:23] romange commented on #66
it's best we will be able to calibrate automatically. On my laptop for example, dragonfly can run without any changes.
We need first to understand what to change. If reducing the factor from 100 to 1 solves the issue, I will be able to write the calibrator, I hope.

[2022-05-31 18:25] occasionallydavid commented on #66
Reducing the factor from 100 to 1 reduces top-measured %CPU from 400-500% to around 80% with the debug build. Powertop-measured wake count is approximately identical

[2022-05-31 18:28] occasionallydavid commented on #66
Just to report, no change in behaviour with microcode updates applied:

[code]

[2022-05-31 18:32] occasionallydavid commented on #66
https://aloiskraus.wordpress.com/2018/06/16/why-skylakex-cpus-are-sometimes-50-slower-how-intel-has-broken-existing-code/

[2022-05-31 19:10] romange commented on #66
I think the easiest solution will be to expose run-time arguments directly. you will find what works best for you and report here. I will try to implement a simple calibration procedure that will adjust those arguments according to what you tell me.

[2022-05-31 19:12] occasionallydavid commented on #66
Some X/Y problem missing in my original report: I just want to develop against DF locally and don't care about performance at all. A single thread that sleeps politely and offers 10 requests/sec but is extremely kind to battery is much more desirable in this environment :)  I know it's difficult to squeeze both use cases in one binary, but really I think maybe that is what this bug was asking for.

[2022-05-31 19:29] romange commented on #66
lets try with spinlock arguments and if these won't work to your satisfaction we will add `--dev` flag! :)

[2022-05-31 19:34] tomazz75 commented on #34
Maybe this [tweet ](https://twitter.com/daniele_dll/status/1531541744696930305?s=20&t=dPkL2hd2y1I7GGS58t7MTA )explains it?

[2022-05-31 20:20] romange commented on #66
I created a branch named SpinArgs2 for dragonfly. you will also need to update helio submodule with `git submodule update` after the switch.  There I introduced two flags: `proactor_pause_count` and `proactor_spin_limit` that should control the spinning.
Please also remove `_deps\glog-*` before rebuilding dragonfly - I fixed a small bug there as well.

Once you rebuild, pls run with `./dragonfly -

[2022-05-31 20:32] occasionallydavid commented on #66
It's probably something to do with me, but I can't find "took" from that new log line anywhere:

[code]

[2022-05-31 20:34] romange commented on #66
oh shit I forgot to update helio submodule. please pull and update again

[2022-05-31 20:55] occasionallydavid commented on #66
It doesn't seem possible on this laptop to get usage below 30% (reported by top) regardless of the values given in the flags

I haven't used io_uring in anger yet, but note `io_uring_wait_cqes()` supports what looks like a select-like timeout, with the proviso that "this function isn’t safe to use for applications that split SQ and CQ handling between two threads".  In the case of DF, is there no

[2022-05-31 20:55] romange commented on #34
I run it on 64 cores on other machines without any problem. There is a chance that there is a bottleneck but I do not understand this tweet. It's not that we actually move data across threads. At the end - it's a write in one thread and a read in another. Lockless data-structures do the same.

[2022-05-31 21:00] romange commented on #66
I think reducing from 800 to 30 is great progress already. The rest can be attributed to expiry policy.  Please change line engine_shard_set.cc:58 to use greater values than 1ms. will it fix the problem?.

[2022-05-31 21:09] romange commented on #66
Also, are you still in debug mode?

[2022-05-31 21:11] occasionallydavid commented on #66
I ran with:

`./dragonfly  --proactor_threads=1 --proactor_pause_count=1 --proactor_spin_limit=1`

And bumped the interval to 1000ms, and now DF has disappeared into the background noise even in powertop output. I don't know what this breaks, though. `redis-cli` seems to do what I expect though

Nope, these are opt builds

[2022-05-31 21:14] romange commented on #66
and are you saying that increasing any of the flags will bring it back to front? what ` Running 10 Pause(10)` line prints ?

[2022-05-31 21:22] occasionallydavid commented on #66
With the default flags, top reports ~5% CPU and pause timing is:

[code]

With the jinxed flags from above, ~0.7% CPU and:

[code]

[2022-06-01 02:59] drinkbeer commented on #57
Hey Zacharya, when I am applying this yaml in a cluster in Google Kubernetes Engine, I found the following errors:

[code]

Do you know how to set `'--ulimit memlock=-1'` to Docker container in K8S?

[2022-06-01 07:57] TamCore commented on #57
That would be needed to be done through /etc/docker/docker.json. But i fear that's not feasible in GKE (or any other managed K8s offering, especially when containerd is used), as nodes might be automatically replaced during the weekly maintenance windows.

Try including this in your deployment.yaml:
[code]

[2022-06-01 08:12] romange commented on #57
@TamCore  I see you have great docker knowledge.  Do you know why on some host distributions I need to use memlock and on others I do not need? For example, my ubuntu 21.10 does not require memlock argument and it does not have `/etc/docker/docker.json` file.  Bullseye, on the other hand requires this argument.

My suspicion is that io_uring dropped this requirement from some kernel version onward

[2022-06-01 08:42] TamCore commented on #57
Depending on distro / installation method the file can also be called daemon.json. But it doesn't have to exist. For example, i have a AlmaLinux 8.5 LXC container with docker-ce installed through the official docker repos and there it wasn't created by default.

But regarding the limit, i think that's just distribution specific. Ubuntu seems to set memlock to a friendly 65536, whereas something RH

[2022-06-01 08:48] romange commented on #66
Good idea. Will do. I will send you the PR shortly.

[2022-06-01 09:06] romange commented on #66
Created https://github.com/dragonflydb/dragonfly/pull/70.

Feel free to use this branch and if everything is fine I will submit it later today.

[2022-06-01 09:37] thegreathir opened #71 "Providing shared memory client"
Hi,
As I figured out from your repo and examples, the client can connect to Dragonfly via TCP or UNIX socket. But I think you can get better performance by connecting to the database via shared memory when the client and database are in the same host.
[This repo](https://github.com/edgarsi/redis-module-shm) provides something similar for Redis.
Do you have any plan to support this or is it interes

[2022-06-01 10:11] romange commented on #71
I can see how performance can be a bottleneck for redis. I am not persuaded that this applies for DF.
I will need to see a real use case in order to prioritize something like this.

[2022-06-01 10:19] #66 closed

[2022-06-01 10:57] romange commented on #71
what do you mean by performance here? latency? throughput?

by how much it will improve? 50%? 10%? 1%?  if 99th latency was 0.7ms and
it became 0.65ms - what are the use-cases that are gonna benefit from it.
How much CPU will it reduce? 1%? 0.1%? did you profile DF?

I know that people feel passionate about technology but not every
optimization needs to be done since it's always a tradeoff of
main

[2022-06-01 11:12] romange commented on #71
Cheers, mate. take a look at  https://github.com/abseil/abseil-cpp/issues/1188
it's all fine.

[2022-06-01 11:12] #71 closed

[2022-06-01 11:49] romange commented on #57
@TamCore  but if there is no config file, do you know where distro specifies this limit. Specifically, how can I decrease the limit in ubuntu so it will be 64 like for other distributions? or do you think they compile the kernel with this parameter?

[2022-06-01 12:12] TamCore commented on #57
The docker config has nothing to do with the system-wide limit :) The limit itself, is passed through and changed in multiple places. What the kernel has compiled-in, you can see in `/proc/1/limits`. What currently applies to you, you can see with `ulimit -a`. And then you have things like your init-system (most likely systemd), PAM and so possibly interfering with it. If you want to make permanen

[2022-06-01 12:20] romange commented on #57
Got ya. So what's interesting is that when I limit my locally running dragonfly to 1KB  of locked memory - it still runs.
I will confirm with @axboe whether they removed the restriction for mlocked memory - it can greatly simplify deployment of iouring based apps.

[2022-06-01 12:21] axboe commented on #57
Yes, newer kernels generally rely on memcg rather then the memlock rlimit.

[2022-06-01 12:25] romange commented on #57
Thanks Jens, that was quick!
Do you happen to remember starting from which version it applies to io_uring?

[2022-06-01 14:45] rodrigbap commented on #68
Muito bem.

[2022-06-01 15:29] romange commented on #65
@PabloSzx  did it work for you? Can we close?

[2022-06-01 15:32] PabloSzx commented on #65
yep, it works, thank you

[2022-06-01 15:32] #65 closed

[2022-06-01 16:25] tosone opened #76 "Any plan about static compile?"
Also nice project.

We know vcpkg is a great c/c++ deps managerment tool. [helio](https://github.com/romange/helio) and dragonfly have many deps, maybe we can static compile with vcpkg, and release the binary on github, other guys can download it run anywhere.

[2022-06-01 16:31] #76 closed, assigned to nobody

[2022-06-01 17:40] #42 closed

[2022-06-01 19:27] mischif opened #77 "Carrier DB Benchmarking"
Hello,

Could you benchmark your datastore against [Carrier DB](https://carrierdb.cloud/)? This was the best of the redis/memcached replacements last time I was looking for one.

[2022-06-01 19:42] romange commented on #77
1. first time i heard about it.
2. They are not source available
3. their last version is from 3 years ago
4. no benchmarks, no technical info - half of the links are broken
5. Their download link does not work

[2022-06-01 20:45] inglesuniversal opened #78 "General Question: System requirements for a remote VM (eg. LightSail at AWS)"
Do you have the recommended specs as a bare minimum for this project to run on a remote server?

Thanks

[2022-06-01 21:07] romange commented on #78
I am not familiar with LightSail.

Please note that Dragonfly requires kernel 5.10 and for kernel less than 5.12 it needs memlock limit of at least 64kb if running via container.  Based on AWS docs, even the smallest instance should be able to run DF.  The rule of thumb - it needs at least 256MB per CPU and the smallest instance has 512MB.

[2022-06-02 04:19] romange commented on #57
@drinkbeer  Can you pls attach here the yml files and the `gcloud` command of how you deploy dragonflydb?

I will try to reproduce the issue on my gcp account.

[2022-06-02 05:16] romange commented on #68
@Joseph94m   I am almost ready to release the alpha version that supports PSUBSCRIBE/PUNSUBSCRIBE.
will you be able to take it for a test run and see if there are things that missing?

[2022-06-02 05:49] romange commented on #57
By judging from https://github.com/kubernetes/kubernetes/issues/3595 there is no straightforward way to pass rlimit to containers on K8S.

Note: I found [this article](https://medium.com/@thejasongerard/resource-limits-mlock-and-containers-oh-my-cca1e5d1f259) that may provide a way to walk around the problem.

Unfortunately I do not have much knowledge about linux capabilities.
@axboe  Jens, do yo

[2022-06-02 07:49] laupse commented on #57
For information i did deploy it on k8s cluster running on Ubuntu 22.04 and it works without having to change the limit (initContainers seems to not have any effect). I guess it is because of the newer kernels that came with this distro version.

[2022-06-02 07:50] axboe commented on #57
If IPC_LOCK cap is set, then no accounting is done. So yes, it should work fine with 5.10 without having to fiddle with the rlimits for that case.

[2022-06-02 08:01] romange commented on #57
Thanks Jens. So this will probably the way to improve K8S integration.

@laupse  - yeah - 22.04 is 5.15 and it does not pose ulimit restrictions on dragonfly. My worry is about folks that use default K8S images like COS which uses 5.10.

[2022-06-02 08:25] drinkbeer commented on #57
This is my yaml file: https://gist.github.com/drinkbeer/d753e51fca6f6221928a0b95a7a520f4
I run `k --context <my_context> -n <my_namespace> apply -f ~/Documents/deployment-dragonfly.yaml` to apply it in GKE 1.22 (kernel `5.10+`).

I talked with Google guys, seems like the `/usr/lib/systemd/system/docker.service` file is read-only in the Container-Optimized OS.

Then I provisioned a `"Debian GNU/Lin

[2022-06-02 08:58] romange commented on #57
I will try to fix it for COS and Bullseye. This will require a container
rebuild.

On Thu, Jun 2, 2022 at 11:25 AM Jianbin Chen ***@***.***>
wrote:

--
Best regards,
     Roman

[2022-06-02 10:47] akuzia opened #81 "[QUESTION] Why Dragonfly is slower than redis on golang stack?"
Considering dragonfly as drop in replacment for redis on high throughput/low latency caching.
Below is a simple "benchmark" to compare db read/write performance. It Writes sample db with 100k keys, then read them, simulating 10 concurrent clients. So ~100mb of concurrent data traffic in and out.

Results
[code]

Reproduce:

compose
[code]
main.go
[code]

Why dragonfly is almost 10 times slower wit

[2022-06-02 11:06] romange commented on #81
do you run everything locally? what hardware? did you try on cloud?
i will double check it on my machine

[2022-06-02 11:13] akuzia commented on #81
Yep, locally. Running on cloud is not on option for us, considering onprem installation.

inxi:
[code]

[2022-06-02 11:41] romange commented on #81
I get
[code]
when running docker compose.
when trying to build locally I get
[code]

I prefer building locally.  Can you fix main.go to compile on `go1.17` ?

[2022-06-02 11:46] akuzia commented on #81
go.mod
[code]

main.go
[code]

[2022-06-02 12:36] romange commented on #81
I think I have some direction.

I changed the main file to connect to localhost and increased the loop.

I tested both Redis and DF serially without docker compose.
These are my numbers:
### DF
Populating db took 18.142100231s
Reading db took 15.250208999s

### Redis6
Populating db took 22.012566837s
Reading db took 15.925689501s

Looks ok.

however DF with docker:  `docker run -p 6379:6379 dragon

[2022-06-02 12:39] romange commented on #78
Closing. Feel free to reopen if you need more info

[2022-06-02 12:39] #78 closed, assigned to nobody

[2022-06-02 12:51] romange commented on #57
@drinkbeer  I created a trial image with `cap_ipc_lock` capability.
Can you try it out with COS image 5.10?
You will need the following changes to your yml:

[code]

[2022-06-02 12:56] akuzia commented on #81
I've ran latest release natively, nothing seems to change:
100k keys (my loop)
[code]
2mil keys (your loop)
[code]

Metrics shown in web UI:
[code]

get_qps & set_qps hover around 10-12k

[2022-06-02 13:00] akuzia commented on #81
v0.1.0

[2022-06-02 13:05] romange commented on #81
ok, I think it's related to this bug https://github.com/dragonflydb/dragonfly/issues/66

you can either build from source to confirm quickly that this solves your issue , or alternatively I can release a patch release  from HEAD and it will take ~2 hours.

[2022-06-02 13:07] romange commented on #81
I started the prerelease pipeline anyway.

[2022-06-02 14:21] romange commented on #81
@akuzia  can you please try https://github.com/dragonflydb/dragonfly/releases/tag/v0.1.1 ?

Thanks

[2022-06-02 14:43] romange commented on #81
Latency of 1ms server side is really bad.
How your htop  looks like?

On Thu, Jun 2, 2022, 17:41 Alexander ***@***.***> wrote:

[2022-06-02 15:19] romange commented on #81
I've googled up your processor - its a laptop. I've tested dragonfly on my
home computer but its mainly intended for high quality systems that exist
on the cloud or data centers.

I suggest that you test it on your on-prem machine and not a laptop. I do
not think its related to golang stack in any way.

On Thu, Jun 2, 2022, 17:43 Roman Gershman ***@***.***> wrote:

[2022-06-02 16:31] drinkbeer commented on #57
Hey @romange , I would like to confirm that it works in my GKE 1.22 cluster (nodes running with `Container-Optimized OS`, pods running with `Ubuntu 20.04`).

Here is the complete yaml file I used:
[code]

Node:
[code]

Pod:
[code]

Running and validate:
[code]

In another terminal, running `redis-cli` to validate it works:
[code]

[2022-06-02 16:35] drinkbeer commented on #57
@romange , there is another way to pass `ulimit -l unlimited` config to shell in the pod, it also works in COS and older version of Linux (Kernel version <= `5.10`). I validated in my GKE `1.22` cluster.

The yaml:
[code]

[2022-06-02 16:45] romange commented on #57
nice. Well, that settles it. I would not want to maintain 2 images just because of this inconvenience with K8S.
One little simplification I want to try is to set memlock limits inside /etc/security/limits.conf  on the image for `dfly` user that runs
dragonfly.  Maybe in this case we won't need to wrap dragonfly with the shell command and ulimit.

[2022-06-03 05:22] AND2797 opened #83 "[QUESTION] Contribution guide?"
Any plans for a contribution guide? I would love to try and find things to contribute to the project!

[2022-06-03 05:38] romange commented on #83
Thank you! Really appreciate this!
Yes, there are plans! There are plans for setting up a better discussion channel and other things as well.

Right now we are in a  firefighting mode where we handle at real-time all the immediate things that surfaced due to the release of the project. Believe me, we were not expecting **that** !
I am sure the pressure will go down in the next week or two. Meanwhi

[2022-06-03 12:57] AND2797 commented on #83
I can understand - the first release is always the most hectic. Thank you for your response.

[2022-06-03 23:24] hellower opened #88 "docker not working"
**root@tnt-factory-ubuntu:~# cat /etc/os-release**
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODE

[2022-06-03 23:59] hellower commented on #88
sorry

[2022-06-03 23:59] #88 closed

[2022-06-04 01:45] romange opened #89 "integration tests with frameworks"
People started asking about our readiness with middleware frameworks. See, for example, the issue with  [celery and flower](https://github.com/dragonflydb/dragonfly/issues/68).

I wish there was a regression test under https://github.com/dragonflydb/dragonfly/tree/main/tests/ that runs celery and flower-on-celery and tests that everything is happy. I do not know to structure it. at this point in t

[2022-06-04 01:54] romange opened #90 "implement pubsub command"
I already submitted `psubscribe/punsubscribe` functionality. What's left to do for 2.8 is

* https://redis.io/commands/pubsub-channels/
* https://redis.io/commands/pubsub-numpat/
* https://redis.io/commands/pubsub-help/  (not 2.8 per-ce but nice to have regardless)

I will be able to guide on how to do that.

[2022-06-04 02:18] romange commented on #89
The same applies for other popular frameworks. What do we have in golang?  nodejs? Java?

[2022-06-04 02:34] romange opened #91 "implement 3.0 api"
if we look at [commands.json](https://github.com/dragonflydb/redis-doc/blob/master/commands.json)

`jq -c 'to_entries[] | select(.value.since | test("^3\\..*"))' commands.json    | grep -v '"cluster"'  | grep -v '"geo"' | less`

we will see that in besides some debugging/configuration/bitops commands we have only `TOUCH` command that needs to be implemented. Dragonfly implements its cache a bit di

[2022-06-04 02:38] romange opened #92 "implement 4.0 API"
if we look at [commands.json](https://github.com/dragonflydb/redis-doc/blob/master/commands.json)

`jq -c 'to_entries[] | select(.value.since | test("^4\\..*"))' commands.json | grep -v '"MEMORY' `

we will see that besides modules we have only SWAPDB command that's worth implementing. I can guide on how to implement this command.

[2022-06-04 08:50] osevan opened #93 "unix domain sockets connection possible?"
It is possible to use unix domain sockets and Ipv4 listening on same time?

Thanks and

Best regards

[2022-06-04 09:05] romange commented on #93
I did not understand the question. Do you want to use both UDS and TCP port simultaneously?

[2022-06-04 09:20] osevan commented on #93
Yes, because in Keydb it is possible via config.

[2022-06-04 09:44] romange commented on #93
Yes, it's technically possible to implement. Why do you need this feature? In what cases you would want to connect to UDS if you already have TCP

[2022-06-04 09:55] osevan commented on #93
For example ,when run keydb and client on single machine and I want avoid IP layer overhead.

On my lab I get 450k get with localhost listening

And 600k get requests when I listen in unix:///tmp/keydb.sock

[2022-06-04 10:00] romange commented on #93
how about DF? do you get better performance with DF over sockets than keydb with UDS?

[2022-06-04 12:13] clemenko opened #96 "Kernel >= 5.10 reasons?"
I am trying to test with Rocky/Centos/RHEL 8.6. Which technically is the latest with a 4.18 kernel. Clearly dragonflydb does not work. Trying to understand why? This will severally limit the deployments to Ubuntu only.

Will older kernels be supported?

[2022-06-04 15:45] romange commented on #96
Hi Andy,

If you read Readme you will see the reasons for 5.10 requirements. DF uses iouring API which was introduced in 5.4. in practice it became stable in 5.10.

DF can run on alpine, bullseye and Ubuntu.

Re rhel/rocky distros - i do not have much experience with them. I've read it is possible to upgrade their kernels via elrepo. It is not the case?

[2022-06-04 15:56] quiver opened #98 "[QUESTION]metrics for memory usage"
I have a question regarding memory usage in Dragonfly.

https://github.com/dragonflydb/dragonfly/blob/main/doc/dashtable.md#populate-single-threaded

In this page, you compare memory usage between Redis and Dragonfly.

At Redis, `used_memory` = `used_memory_overhead`(metadata) + `used_memory_dataset`(data itself).

What are Dragonfly's counterparts for `used_memory_overhead` and `used_memory_datas

[2022-06-04 22:22] Tomato6966 opened #99 "Cannot set a 250mb string"
I get `[ErrorReply: ERR Protocol error: invalid multibulk length]`

Redis can do it

[2022-06-04 22:30] romange commented on #99
First of all, Redis is great!

Secondly, I chose sane defaults for the initial launch. I prefer having tighter bounds and release them gradually as DF matures.

[2022-06-04 22:35] Tomato6966 commented on #99
Hey thanks for your fast response

[2022-06-04 22:36] Tomato6966 commented on #99
you claim to be 25x faster then redis,
however i did string set del and get tests for 0.05mb and 25mb datas
and on high frequently datas such as 10 connections spamming the "db"

redis was 2.1 milliseconds faster overall then dragonfly

i am using an enterpries amd epyc with ddr4 ecc ram

[2022-06-04 22:46] romange commented on #98
It's a great question. Unfortunately, this categorization is harder to apply in Dragonfly.

Dragonfly uses Small-Object Optimization, i.e. sometimes its table space is used to embed objects and sometimes it's just a table space and then it's an "overhead". I try to measure object space and table space separately but due to various technical reasons it does not work for all data types. It works for

[2022-06-04 22:47] romange commented on #99
I would love to hear more about your benchmark. Do you have a reproducible script?
what hardware did you ri

[2022-06-04 22:48] Tomato6966 commented on #99
I posted all stats in a discord channel for discord-creators may I invite you?

[2022-06-04 22:50] romange commented on #99
yes, sure. Did not know there is discord channel for DF

[2022-06-04 22:50] romange commented on #99
shoot me the invite to roman@dragonflydb.io

[2022-06-04 22:53] Tomato6966 commented on #99
no i didnt, can u send the invite of your dc in here, since there is eitherway no admin online for you to verify you... sadge

[2022-06-04 22:59] Tomato6966 commented on #99
or here is the link to join, then click on the verify ticket https://discord.gg/pMc6jFZe

[2022-06-04 22:59] romange commented on #99
@Tomato6966  https://discord.gg/HfertDn

[2022-06-04 23:00] Tomato6966 commented on #99
https://discord.gg/pMc6jFZe

[2022-06-04 23:45] romange commented on #99
For the protocol - to test the following scenario on x86 machine:

[code]

[2022-06-04 23:57] Tomato6966 commented on #99
[code]
[code]

[2022-06-05 07:18] romange commented on #99
@Tomato6966  it was great chatting with you today. I was impressed by how you record everything you do at online. Any tips on how to do this easily? :)

I will benchmark large keys operations in the coming weeks. In any case, the main key takeaway is that throughput won't increase with single connection no matter how strong the server is because it's only determined by latency. `Throughput = 1/lat

[2022-06-05 15:24] ryanrussell opened #100 "feat(docker-compose): Add a `docker-compose.yml`"
Issue: When I googled to see if there's a ready-made `docker-compose.yml` I could plug in, I get a different `DragonFly` project all together.

This is frustrating to a new user looking for a quick and dirty way to test in 5 minutes.

![image](https://user-images.githubusercontent.com/523300/172057695-581a2b0f-7c37-4453-b6bf-3dc6343f608b.png)

Solution: Add a `docker-compose.yml` and `Quick Start`

[2022-06-05 15:32] romange commented on #100
Hi Ryan,

It's a great suggestion. I would put docker-compose.yml under contrib/.

tools/docker is for project maintainers to describe how to build docker
imagers so i think it's not the right place for deployment scripts.

Regarding the quickstart - i would put a dedicated markdown file under doc
dir and link it from Readme. What do you think?

On Sun, Jun 5, 2022, 18:24 Ryan Russell ***@***.***>

[2022-06-05 15:34] ryanrussell commented on #100
Sounds good.

It's on my todo list for my own uses; give me a couple days to shake it down and I'll post a version for the OSS repo.

[2022-06-05 18:00] ryanrussell opened #101 "feat(timeseries): Where in the DragonFly Roadmap?"
Curious where this stands in the roadmap.

Opening an issue to discuss.

Initial Thoughts:
- Time Series is the fastest growing DB segment
- Not sure how the `replication` major would block
- Opens the discussion of `streams` in parallel or quickly after(before?) `timeseries`

@romange Where do you see `timeseries` in the overall priority of commands to add to DragonFly?

[Redis Time Series Comman

[2022-06-05 18:28] romange commented on #101
I do not think it will be done in 2022, realistically speaking. Replication is a big task. And then we have to implement the rest of the commands to be on par with Redis 6 at least. Plus we have some other interesting features we had in mind.

[2022-06-05 18:29] romange commented on #101
Specifically, I would love to see streams and replication implemented first. To design replication well in Dragonfly is a much harder task than in Redis.

[2022-06-05 18:47] #61 closed

[2022-06-05 18:52] quiver commented on #98
Hi @romange, thank you for your answer.

The background to my question is that from the doc it's clear that DF implements a better data datastructure than Redis and I thought that apple-to-apple metrics exist.

But from your answer, there are no such metrics(DF might store data inline).

I will take your advice and use `used_memory_human` for apple-to-apple comparisons.

Mark this closed.

[2022-06-05 18:52] #98 closed

[2022-06-06 04:37] romange commented on #81
Closing. Feel free to reopen if you have more questions.

[2022-06-06 04:37] #81 closed

[2022-06-06 04:39] romange commented on #93
@osevan  ? would love to hear your feedback.

[2022-06-06 05:33] romange opened #104 "support for JSON commands"
AWS Elasticache recently released JSON support as part of their service.

We should implement a compatible API. See
https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-list-commands.html

for command reference.

[2022-06-06 05:35] romange commented on #68
For the reference https://github.com/dragonflydb/dragonfly/commit/ec9754150f2df8e012f479eaf0682a0764abf8ce has been submitted to main.

[2022-06-06 07:01] romange commented on #104
https://github.com/danielaparker/jsoncons/tree/master/include/jsoncons is a good candidate for supporting jsonpath.

[2022-06-06 13:25] Joseph94m commented on #68
@romange Hello, yes I can take it for a test run! Do i need to clone the project to build the image or do you have an image already pushed on some registry?

[2022-06-06 13:28] romange commented on #68
@Joseph94m  - no, no - I will build something for you.
do you mind if it will be a binary and not a docker image?

[2022-06-06 13:30] Joseph94m commented on #68
I am currently using docker-compose (so yes, docker images) to start all of my project including redis (dragonfly). I guess i could instead run it on my mac (intel i7) if it is compiled for that purpose.

[2022-06-06 14:02] romange opened #106 "zrevrange does not support WITHSCORES"
to reproduce: `zrevrange test 0 100 WITHSCORES`

[2022-06-06 14:32] romange commented on #96
Closing - feel free to continue the discussion in discussions :)

[2022-06-06 14:32] #96 closed

[2022-06-06 14:39] romange opened #107 "github project enhancements"
- [ ] contributing guide.
- [ ] Introduce the issue template.
      Specifically, leading people to use "Discussions" for questions, instead of using issues will simplify my triaging work.

Something else?

[2022-06-06 15:49] zacharya19 commented on #90
dibs.

[2022-06-06 16:02] romange commented on #31
I won't implement `LATENCY` any time soon. closing

[2022-06-06 16:02] #31 closed, assigned to nobody

[2022-06-06 23:09] ryanrussell commented on #107
Two suggestions:

#### 1. Adopt conventional commits syntax in issues/commits: https://www.conventionalcommits.org/en/v1.0.0/
Seeing `feat(thing): What happened` or `bug(whatever): Bad thing` of `docs(readme): Add whatever` helps grep faster when the list gets long.

Believe this would help keep some sanity as you go from a handful of contributors to hundreds.

#### 2. Auto-tagging PR's based on c

[2022-06-07 00:09] ryanrussell commented on #104
Equivalent RedisJSON command set for reference: [RedisJSON Commands](https://redis.io/commands/?group=json)

![image](https://user-images.githubusercontent.com/523300/172269071-3690a37f-34dc-48ea-8f6c-d64de3299d41.png)

[2022-06-07 01:00] alisaifee opened #111 "PUNSUBSCRIBE/UNSUBSCRIBE without arguments"
Both `PUNSUBSCRIBE` and `UNSUBSCRIBE` have command arity `-1` as per the official redis command spec. Calling the commands with no arguments effectively results in unsubscribing from any channels or patterns subscribed to by the client ([Redis command Reference](https://redis.io/commands/unsubscribe/) and [commands.c](https://github.com/redis/redis/blob/unstable/src/commands.c#L3266)).

Both comma

[2022-06-07 04:34] romange commented on #111
Good catch. I can fix it or, if you want, you can send a PR.

[2022-06-07 04:56] romange commented on #107
so (1) is about education (myself included). can we enforce this notion somehow?
(2) looks really great but I wonder if it's applicable to this repo, since it's mostly c++ ?

[2022-06-07 05:04] romange commented on #107
btw, vector looks great and its documentation is fantastic.

[2022-06-07 06:31] drinkbeer opened #113 "Seek for help on benchmarking of Dragonfly and KeyDB in Kubernetes"
Hey, Dragonfly maintainers,

Thank you for your great work on this fantastic project. My teammates and I are impressed by the benchmark results and are trying to reproduce the benchmarking in Kubernetes (the reason we want to benchmark it in Kubernetes is we use k8s in our production environment).

I followed the set up in the [readme](https://github.com/dragonflydb/dragonfly#with-docker) and [das

[2022-06-07 07:24] romange commented on #113
Hi Jianbin,

very impressive work so far! I will tell you what I know and what I do not know.

Facts that I know:
1. 10-25K qps is very bad result and both KeyDb and Dragonfly can do much better than that.
2. Similarly `10ms` (is it avg? 99th? ) is also an awful number for an in-memory store. You should not get there.

Now, it's hard for me to say what causes this based on the data you put here be

[2022-06-07 07:36] romange commented on #113
And do not forget to drink beer!

[2022-06-07 07:46] romange commented on #113
Just noticed your other memtier parameters.  You can be a bit more frisky with the keyspace lengths, you use big instances, so it's ok: `--key-maximum=10000000`.

I do not know if `--key-pattern=S:R` was a deliberate choice. I used `R:R` but also used `--distinct-client-seed`. Otherwise, each client connection goes through exactly the same route...

[2022-06-07 07:53] drinkbeer commented on #113
Thank you so much for your reply. I think your suggestion of testing with GCP instance is great. I will follow the steps and try to get ideal P99 latency. I will update the results here once I finish the tests.

No. They are running on two different nodes in the same cluster, so same region (`us-east1`), and same zone (`us-east1-d`). Memtier job are also running on the same nodes (memtier job for

[2022-06-07 08:04] romange commented on #113
I would run memtier separately from the server node as well. Not that it's impossible to get 1M running both on the same machine but it greatly affects benchmark numbers when reaching high throughput ranges.

[2022-06-07 08:07] Joseph94m commented on #68
Thanks, I am no longer seeing the PSUBSCRIBE errors at least. Now i'm seeing the following on my docker-compose trace:

[code]
It loops like that for a while and then everything restarts
[code]

Here are my configurations:

I think it's important to note that I did not change anything in the configurations of my celery broker/backend. My project behaves as if it is still trying to connect to redis

[2022-06-07 08:08] drinkbeer commented on #113
A good point. I originally thought that running them on the same node will save some networks. I will run them in separate instances when benchmarking with GCP instances.

[2022-06-07 08:36] romange commented on #68
@Joseph94m  it's super. Looks like you found a bug. No, you should not change anything.

What I need is a way to reproduce it locally on my machine.
1. Can you send me your docker-compose.yml ?
2. Can you publish somehow your project so I could access it from docker-compose?

[2022-06-07 09:49] romange commented on #68
Thanks! From the little I saw in those traces it's somehow related to Lua. But maybe I am mistaken.

[2022-06-07 11:40] ryanrussell commented on #107
I would tweak on this pre-commit hook gist: https://gist.github.com/qoomon/5dfcdf8eec66a051ecd85625518cfd13

It looks like your issues are starting to bloom with core `DragonFly` issues; I can put this after this `docker-compose.yml` if you want to adopt conventional commits but don't have cycles.

I would apply to docs, examples, tools, tests, etc.. maybe some subfolders within src get special ne

[2022-06-07 12:15] ryanrussell commented on #113
@drinkbeer

Any chance you have a reproducible bash script that would cover the tests you are trying between `DF` and `Key`?

These are wonderful bits of feedback; it would be interesting to make a canonical test script and deployment `yaml` so that different users on different platforms can execute the same test suite.

While I don't have any better feedback than what @romange provided, I could t

[2022-06-07 12:18] alisaifee commented on #111
I'm happy to take a crack at it - just wanted to make sure that it was indeed classified as a bug and that it wasn't an intentional design choice.

[2022-06-07 12:39] romange commented on #113
@ryanrussell  in terms of priority for the project, writing canonical benchmarking scripts is less important right now.
You have great knowledge on how to improve the maintainability and manageability of the project. I think these areas will have the highest ROI if tackled sooner.

[2022-06-07 12:43] romange commented on #107
I would love if you could handle this after adding docker-compose.
I won't be able to master everything, unfortunately, so covering these areas will be a great help for the project!

[2022-06-07 12:47] ryanrussell commented on #107
@romange

Happy to. If you want to move the bricks and give me the feathers, that's cool.

[2022-06-07 12:58] romange commented on #107
lol. 🤣

did you invent this phrase!?
Tried to look it up but did not find anything

[2022-06-07 13:00] ryanrussell opened #115 "docs(ulimit): Dedicated and comprehensive ulimit FAQ"
#### Problem
Many users will encounter various `ulimit` problems that are environment dependent.

#### Goal
Create a single, comprehensive `ulimit` FAQ page that will guide users to self-resolve on `bare metal`, `docker compose` and `k8s`

This should **lower the noise** in issues around various implementation specifics and give a quality canned response when they do arise.

See commit #114 for a

[2022-06-07 15:08] osevan commented on #93
At the moment im writing bashscript for automaticaly install webserver with tuning settings - at the moment 1200 lines bashcode only for nginx.

After than ,I want try DF with compiler tuning amd see what i get back and post here

[2022-06-07 16:43] Joseph94m commented on #68
@romange here's a[ dummy project](https://github.com/Joseph94m/dummy-django) with one api entry point (get request):
http://localhost:8000/tester/hi/

Essentially it performs a get request on https://httpbin.org/delay/5, caches the result using `redis/2` and returns the data. It also creates a celery task that uses `redis/1` that prints some stuff on the command line.

To start the entire infra ju

[2022-06-07 16:45] IlanFrumer opened #116 "Release --version"
![image](https://user-images.githubusercontent.com/3116399/172437800-778b92ba-e4d0-44a3-a0d6-99553008bc43.png)

When packaging a release, the version should be a fixed version rather than a git tag.

https://github.com/dragonflydb/dragonfly/blob/4d276c7ef0a1f04c3efddab7c10bca1e8ee820c2/src/server/dfly_main.cc#L151

[2022-06-07 16:53] romange commented on #68
Do you know if containers withing docker-compose can access the external network ?
i.e. if I run dragonfly externally on localhost, will I be able to replace `redis://redis:6379/1` with `redis://localhost:6379/1`

[2022-06-07 16:58] TamCore commented on #68
You'll have to consider the network access from the POV of the container. If you want to access the dragonfly instance on your machine, you would either a) have to find your host's IP within Docker's overlay network, or b) connect against the IP that's directly assigned to your machine (like your LAN address). For ease of use I suggest the latter :)

[2022-06-07 16:58] romange commented on #116
@IlanFrumer !!! What's up, man?!!! Long time no heard! Remember that you have been on my wedding?!!

[2022-06-07 17:02] romange commented on #68
Got ya!

[2022-06-07 18:19] fuwwy commented on #101
Is this estimate just for timeseries or replication too?

[2022-06-07 18:32] romange commented on #101
Replication is one of the higher priority tasks i need to do . In fact, you
already can use DF as readonly replica for Redis.

On Tue, Jun 7, 2022, 21:19 Folf ***@***.***> wrote:

[2022-06-07 19:13] romange commented on #68
@Joseph94m  I do not succeed to reproduce the problem. Does it happen on the first trigger of HTTP handler ? immediately on startup?

[2022-06-08 02:00] Yoshino-s opened #121 "bug(eval) SIGILL when execute EVAL command"
Version: dragonfly -128-NOTFOUND build time: 2022-06-06 13:36:06

Reproduce bug:
[code]
And run
[code]

On Redis it will return

[code]

But on dragonfly db it will throw an error.

Log:
[code]

[2022-06-08 02:27] romange commented on #121
Thanks for reporting this. Yeah, it's related to #68 .

I will release a new version today that hopefully will fix it.

[2022-06-08 02:42] alisaifee commented on #111
Resolved in #117

[2022-06-08 02:42] #111 closed

[2022-06-08 07:05] romange commented on #121
fixed here: https://github.com/dragonflydb/dragonfly/releases/tag/v0.2.0
new docker image will be ready in 10min.

[2022-06-08 07:05] #121 closed

[2022-06-08 07:07] romange commented on #116
@IlanFrumer  that's ? just a thumbs up?! You probably did not like my buffet 😛

Anyway, fixed in https://github.com/dragonflydb/dragonfly/releases/tag/v0.2.0

[2022-06-08 07:07] #116 closed

[2022-06-08 07:10] romange commented on #68
@Joseph94m  I released v0.2.0.  Can you please check `docker.dragonflydb.io/dragonflydb/dragonfly:latest` and confirm it works for you?

[2022-06-08 07:46] Joseph94m commented on #68
`docker.dragonflydb.io/dragonflydb/dragonfly:latest` doesn't work
`docker.dragonflydb.io/dragonflydb/dragonfly:v0.2.0` works for both the dummy project and the main one

Thanks!

[2022-06-08 19:06] romange commented on #68
closing, feel free to reopen

[2022-06-08 22:17] Baptiste-Leterrier opened #124 "SIGILL - :MixingHashState::Read9To16"
Hi there,

Got an illegal instruction when running a built from source binary.

Followed the instruction on the README to compile
OS: Ubuntu 20.04.4 LTS x86_64
Memory: 189MiB / 4096MiB
CPU: Intel i5-3570K (2) @ 4.200GHz

[code]

Tested with GDB:

[code]

**Binary**

Got SIGILL error running it from the binary downloaded from Release (dragonfly-x86_64)

but with GDB I get:

[code]

**Docker**

Dock

[2022-06-09 00:19] romange commented on #124
if you run `layout asm` you will see the instruction. But anyway, I know what the problem is.
the whole project is compiled with `-march=haswell` and yesterday I tried to [push the envelope](https://github.com/dragonflydb/dragonfly/commit/b855b50fb7e8493bcb40b50343b7ac3a82262e94) with lua by compiling it for broadwell.

Yours is Ivy Bridge from 2012. You can say - lets's support ivy bridge, but th

[2022-06-09 01:41] ryanrussell commented on #100
@romange

- Need some easier channel for quick questions please
You have a matrix/discord/slack/signal/etc app you prefer? Maybe invite me to a new private repo with however you want to communicate...
- How much `docs` do you want in Git/Markdown vs making a real docs site? Finding it a bit cumbersome to make something nice here vs just using SvelteKit and a cname...
- Should come up with a canoni

[2022-06-09 05:07] romange commented on #100
1. @ryanrussell  https://discord.gg/HsPjXGVH85
(I need to add a proper link to the README)

2. Your idea with screenshots is great!
3. I do not have the capacity right now for real docs site. I think once we have md content here, it will be much easier to decide how to migrate them if needed. It can wait a month or two though. (We have dragonflydb.io that is rendered with hugo and thought to use i

[2022-06-09 08:12] kokizzu opened #125 "Where's the compatiblity table?"
list of Redis command, and one that supported by dragonfly
edit: found it https://github.com/dragonflydb/dragonfly/blob/main/doc/api_status.md

but does dragonfly support http://redis.io/topics/transactions
`github.com/go-redis/redis/v8@v8.11.3/tx.go`
[code]

[2022-06-09 11:07] romange commented on #100
Update: I've read about Git LFs. seems like exactly what we need, don't you think?

[2022-06-09 11:11] TamCore commented on #100
I'd be careful about it. In the past, i had pretty bad experience with Git LFs. To the extent where I had nothing but garbage left. For the beginning I'd simply recommend to not worry about it (but also don't commit 4k sized screenshots into Git) and when (if) it becomes necessary, a migration can still be done.

[2022-06-09 11:36] Baptiste-Leterrier commented on #124
Make total sense, maybe you can precise the default march chosen on the documentation.

It is totally acceptable to set a minimal requirement for the software to run and after all, it is open source, so if someone wants to develop a version for OS/2, they can freely do so.

Anyway, thanks for the configuration tips

[2022-06-09 11:41] romange commented on #100
But then we would be stack with already uploaded images, don't we?
I've tried to look up anything that is related to bad experience with git lfs, did not find anything substantial. Maybe those problems are long gone? Also, I've read that Unreal use git-lfs for their repo.

One minor con is that folks that clone the repo will need to install lfs plugin  in order to access these files. But usually,

[2022-06-09 11:45] romange commented on #124
Np. It's a project for everyone to use, so I want it to be as frictionless as possible. I will tune those flags within the next few months and will probably make it easier to override.

[2022-06-09 11:58] romange opened #126 "HELLO 3 behavior breaks lettuce"
Based on private communication. Lettuce client stopped connecting to DF.

From reading this logic:
https://github.com/lettuce-io/lettuce-core/blob/5d3310d79967a580d172af7f6d9718ec9ed0325f/src/main/java/io/lettuce/core/RedisHandshake.java#L97

we should not return NOPROTO error upon "hello 3" command because the client code expects a `ERR unknown command` response.

[2022-06-09 13:36] alisaifee commented on #126
Ouch, that's unfortunate.

Initially when I looked at the expectation in the lettuce implementation it felt like a bit of a stretch to return the 'unknown command' family of errors. However, technically the current implementation of HELLO in df is a bit of a lie still since you could pass the authentication / set name arguments and the response would be (incorrectly) "OK".

Given that, what do you

[2022-06-09 14:17] romange commented on #126
you mean - return the 12-item array and not "OK", right?
I agree, I think we should support "hello [2]".  we can even support "hello 2 setname foo"  since this functionality already exists.
For all other cases - return "unknown command..."

[2022-06-09 16:23] osevan opened #128 "SSL disable flag for localhost compiles!"
We need ssl disabling, because its bot needed in localhost in memory environment.

But at compile time to avoid overhead.

Thanks and

Best regards

[2022-06-09 16:57] alisaifee commented on #126
Apologies, my mind said `HELLO RESPONSE` but my fingers typed 'OK' ... not enough ☕, but yes.

[2022-06-09 19:04] alisaifee commented on #126
Resolved in #129

[2022-06-10 03:51] drinkbeer commented on #113
Hey, @romange @ryanrussell , I followed your suggestions and re-ran all the tests in GCP VM instances. Dragonfly overwhelms KeyDB in P99 latency (`1.24700 ms` vs `1.99100 ms`), throughput (`578167.18 ops/sec` vs `322822.64 ops/sec`), memory used (`2.84GiB` vs `3.70G`). But in the machine observability dashboard, I found that the peak CPU usage for Dragonfly is much higher than KeyDB (`50%` vs `10%

[2022-06-10 04:38] romange commented on #113
@drinkbeer , do not expect to reach anywhere close to 3.8M qps on GCP.  AWS networking capabilities are higher than any other public cloud. Having said that, I would expect for c2 to reach higher throughput.  I will benchmark GCP and get back to you.

You provided a great reference point with your results! It will take me a week or so. Hope it's ok.

[2022-06-10 05:07] drinkbeer commented on #113
If you take a look at the two dashboards, you can find that we are not even close to saturate the network I think. But I can check with google guys if our tests start to drop packets.

Thank you so much! I will use the results as a benchmark, continue testing with Docker and Kubernetes. Hoping that we can achieve similar results in Docker and Kubernetes (I guess Docker and Kubernetes will introduc

[2022-06-10 05:58] romange commented on #113
Yeah, it's not close to saturating the bandwidth. Throughput is another matter and is a bit more complicated.

1. Clouds do not disclose this publicly, but they all put limits on Packets Per Second (PPS) for their VMs. They must, because I/O is a shared resource shared by all VMs on the server, unlike CPUs or memory that are dedicated wholly to each VM.
2. Redis has a very naive protocol (ping pon

[2022-06-10 07:58] ryanrussell commented on #100
Hey @romange -- joined the discord channel so we can discuss ideas quicker/more easily. Need to update the permissions to allow users to send messages in the room.

I believe I should just submit the basic yaml and README with no images for now. Git LFS is a permanent decision we don't need(want?)

Seems WAY easier to just wait to include images and put images in a  non-git-repo location in the fu

[2022-06-10 08:25] romange commented on #100
Ok, so 2 people more experienced than me are inclined against Git LFS. cloud bucket it is but I will manage it.

[2022-06-10 09:28] osevan opened #132 "need build option for tcmalloc and jemalloc and rpmalloc"
Hope we could build with different memory allocators.

Thanks and

Best regards

[2022-06-11 04:13] romange commented on #59
@FZambia  you do not use XREAD? how do you pull from the stream?

[2022-06-11 07:31] ryanrussell commented on #107
@romange @alisaifee

Found two decent clang pre-commit hooks. Thoughts? Other preferences? Is this something you want in your workflow?

This kind of thing should probably be chosen on your side... Should be easy to amend the pre-commit yaml files to add more linting if you like one of these...

https://github.com/pocc/pre-commit-hooks
https://github.com/pre-commit/mirrors-clang-format

@romange .

[2022-06-11 14:43] FZambia commented on #59
Yep, not using it 😀 In my use case I read stream content using two commands: XRANGE and XREVRANGE. The system is https://github.com/centrifugal/centrifugo. There is actually a combination of Redis PUB/SUB and Redis stream for message broadcasting.

But I suppose XREAD is definitely useful for most of other Redis users.

[2022-06-11 15:16] romange commented on #59
So how do you flush it? Or you use maxlimit to control the capacity?

On Sat, Jun 11, 2022, 17:43 Alexander Emelin ***@***.***>
wrote:

[2022-06-11 15:18] FZambia commented on #59
Yep, limiting size using `MAXLEN` option and having expiration time for the entire stream.

[2022-06-11 16:04] romange commented on #59
Very cool project, btw. https://centrifugal.dev/  beautiful site as well.

On Sat, Jun 11, 2022 at 6:18 PM Alexander Emelin ***@***.***>
wrote:

[2022-06-12 05:39] #126 closed

[2022-06-12 05:39] #125 closed

[2022-06-12 08:21] #106 closed

[2022-06-12 08:54] Ansore opened #139 "The CPU consumption of dragonfly seems to be high without any opetation."
The CPU consumption of dragonfly seems to be high without any opetation.

operater system: `archlinux`
kernel version: `5.18.3-arch1-1`
build:
[code]

htop:
![Screenshot_20220612_154641](https://user-images.githubusercontent.com/17881025/173224995-d4932d0c-f100-4248-bb08-576d927501e9.png)

top of dragonfly process:

[code]

the dragonfly process's backtrace:
[code]

Is this cased by Proactor idlin

[2022-06-12 10:51] osevan commented on #113
Hey,  dont use high performance apps im Kubernetes or docker or aws or azure cloud.

Pay ik skilled admin with performance and security focus and imvest money in bare metal server. !!!

Even my 9 years old notebook did more requests - laboratory notebook.

[2022-06-12 13:12] romange commented on #139
can you please paste here your `/proc/cpuinfo`?
what happens if you run it with `--hz=10`? does CPU usage get lower?

[2022-06-12 14:41] #59 closed

[2022-06-12 15:08] Ansore commented on #139
thank you for your reply.

here is `cat /proc/cpuinfo`:
[code]

if I run dragonfly with `--hz=10`, CPU usage wile be negligible.
[code]

**So we need to set the appropriate clock frequency?**

[2022-06-12 17:02] ryanrussell opened #142 "chore(docs): Enforce [a-zA-Z0-9-] regex on doc filenames"
Hey @romange

I have an OCD thing about URI's to make them easy to canonicalize and believe dashes **should** be the only non-alphanumeric character allowed in a URI.

This would mean a one-time change `/docs/api_status.md` -> `/docs/api-status.md` and updating links in the codebase.

This is MUCH easier to do now than wait until more people are linking your `api_status.md` version.

If you agree

[2022-06-12 17:12] romange commented on #142
It seems that underscores are allowed in urls, so why dashes are better?

It's not that I have a strong opinion about this but I am used to name c++ filenames with underscores (Google habits). But now I see that google style guide allows dashes as well: https://google.github.io/styleguide/cppguide.html#File_Names

In short, I do not mind changing docs but c++ naming will stay with underscores.

[2022-06-12 17:33] romange commented on #139
DF runs a periodic task handler, a cron job 1000 times a second *on each thread*.
This cron job is pretty lightweight but its high frequency causes CPU usage to be somewhat high. The fact that you run it in debug mode amplifies the problem as well. It's not important for production workloads. For localdev environments you can pass `--hz=10` or `--hz=100` to alleviate the problem.

[2022-06-12 18:02] ryanrussell commented on #142
This one is just an opinion. Easier to force a single separator(reduces human error in linking and getting multiple versions and broken links), and just believe a dash reads better in google results...

Will see what exists to automate the filename regex checks to be future-proof `/docs/` files

[2022-06-12 18:25] #18 closed

[2022-06-12 18:27] romange commented on #139
Duplicate of https://github.com/dragonflydb/dragonfly/issues/66

[2022-06-12 18:41] TamCore opened #144 "chore: automatically bump `version` and `appVersion` in Helm chart when new stable release is published"
As the title says, the Helm chart's Chart.yaml should be automatically updated when a new stable dragonfly release is published

This is basically a low hanging fruit for potential first time contributors. Would otherwise take care of it, once I'm near a computer again. Might take a while however.

[2022-06-12 19:16] romange commented on #144
Where are you going? :) Summer vacation?

[2022-06-12 19:27] ryanrussell commented on #144
@TamCore

Bonus on this task for including the bash commands for a <5 minute Helm Quick Start...

I was going to modify your `README`.. but saw it's auto-generated...

[2022-06-12 20:21] romange commented on #113
@drinkbeer  preliminary results...
took 2 machines c2-60 as you did
![Screenshot from 2022-06-12 22-42-53](https://user-images.githubusercontent.com/3674760/173250497-4e49aa77-55c3-46d6-ac77-10197bc69ddc.png)

fetched DF binary v0.2.0  from https://github.com/dragonflydb/dragonfly/releases/download/v0.2.0/dragonfly-x86_64.unstripped.tar.gz

[code]
Discloser: it's my development image created via a

[2022-06-12 20:44] romange commented on #113
Now I see you used 1 vCPU per core ratio. I use the regular 2 vCPU / core

[2022-06-12 20:50] TamCore commented on #144
@romange just a few relaxed offline-ish days around town with my girlfriend :)

@ryanrussell for the README I used https://github.com/norwoodj/helm-docs. That also supports templating, to add additional info :)

[2022-06-13 00:13] Ansore commented on #139
Thank you.

[2022-06-13 00:13] #139 closed

[2022-06-13 05:10] romange commented on #59
@FZambia  please take a look at https://github.com/dragonflydb/dragonfly/releases/tag/v0.3.0-alpha

this should support everything you need in streams.

[2022-06-13 05:35] FZambia commented on #59
Many thanks! I'll try and report results here.

[2022-06-13 05:46] romange commented on #113
Step2: I took a plain [Ubuntu image 22.04](https://console.cloud.google.com/compute/imagesDetail/projects/ubuntu-os-cloud/global/images/ubuntu-2204-jammy-v20220609).
the only thing I did before running DF was invoking `ulimit -n 20000` and then `./dragonfly-x86_64 --logtostderr`

client (loadtest) instance: took `n2-custom-80-40960` just to be on the safe side so that we won't have bottlenecks the

[2022-06-13 06:05] romange commented on #113
Step 3:  used BullsEye - `projects/debian-cloud/global/images/debian-11-bullseye-v20220519`
dragonfly: https://github.com/dragonflydb/dragonfly/releases/download/v0.2.0/dragonfly-x86_64.unstripped.tar.gz

Everything else like before. As you can see - I can confirm that Debian 11 is very bad performance-wise.
I suspect that it's because to reach better performance you need at least 5.11 but I am no

[2022-06-13 09:26] osevan opened #145 "I cant compile anymore. i go in infinity loop with using perf counters"
Re-running cmake. ...

....

.....

Using perf counter. ..

And bazel script behind logging to domain

https://github.com/romange/glog

[2022-06-13 09:39] osevan commented on #145
I removed in my VM libpfm4-dev , now compile running

[2022-06-13 13:01] FZambia commented on #59
Experimented a bit!

Debian 11: `5.10.0-10-amd64 #1 SMP Debian 5.10.84-1 (2021-12-08) x86_64 GNU/Linux`

In a VM with shared CPU (`Intel Xeon Processor (Icelake)`).

Redis version 6.0.16, Dragonflydb built from source from v0.3.0-alpha

Redis benchmark for PUBLISH op (this is without STREAM - just a pipelined PUBLISH op):

[code]

Dragonflydb (`./dragonfly --alsologtostderr`):

[code]

Latency is

[2022-06-13 13:10] romange commented on #59
Thanks for letting me know! Is it possible to reproduce  `BenchmarkRedisPublish_1Ch-2` ?

Is it possible to reproduce the streaming case?

re latency and throughput - yes, the internal latency avg latency in DF may be higher than in Redis due to message passing between threads.

re - monitor - you can run dragonfly with `./dragonfly --vmodule=main_service=2` and get all the commands in the log.
it

[2022-06-13 14:33] FZambia commented on #59
Thx, this was useful

You need Go language installed:

[code]

Think I found the reason. In Redis:

[code]

In Dragonfly:

[code]

I.e. different SHA-sums. I am using Redigo client - https://github.com/gomodule/redigo - it calculates script sha sum [on client side](https://github.com/gomodule/redigo/blob/master/redis/script.go#L39). It matches the one from Redis, but as you can see Dragonfly hashe

[2022-06-13 15:29] romange commented on #59
Ok, it's me being a smartass: https://github.com/dragonflydb/dragonfly/blob/main/src/server/main_service.cc#L705

I will follow up on your feedback, thank you very much, Alexander!

[2022-06-13 15:36] romange opened #146 "bug: inconsistent sha1 with redis"
Originally reported in #59

[code]

but in redis it's `5707131deda7789195310ee90da9fab71faf2e68`

[2022-06-13 15:38] romange opened #147 "bug: infinite loop when calling LUA"
[code]

originally reported in #59

[2022-06-13 20:33] #146 closed

[2022-06-13 20:33] #147 closed

[2022-06-13 22:14] ugcodrr opened #148 "(zset) Inconsistent Output between Redis & DF"
While messing around with sorted sets in dragonfly, I have noticed some inconsistencies that result in an error on dragonfly and work perfectly on Redis.

[code]
Running the above results in `(error) ERR script tried accessing undeclared key` from dragonfly. The expected result happens with Redis (creates a sorted set titled, `hello` with member `world` with a score of `1`).

Another thing I found

[2022-06-14 05:54] romange commented on #148
Thanks for reporting this @ugcodrr
1. DF implements the stricter spec of Redis eval command where you must declare your keys in advance. so, you need to call it like this `EVAL "return redis.call('zadd', 'hello', 1, 'world')" 1 hello`

2. Regarding "not a valid float" - seems like a bug I would like to get down to it.
   Can you, please, run dragonfly as `./dragonfly --vmodule=main_service=2 --log

[2022-06-14 06:27] romange opened #149 "chore: loadtest centrifuge/df"
[code]

[2022-06-14 15:58] ugcodrr commented on #148
Makes sense, only found out about it because of the latter issue.

Happens almost instantly, [dragonfly.txt](https://github.com/dragonflydb/dragonfly/files/8901477/dragonfly.txt)

[2022-06-14 18:03] thevaizman opened #150 "Leaking connections when used with redis-py's asyncio.ConnectionPool"
### My setup:
Ubuntu 20.04.4 machine with Linux kernel 5.18
Dragonfly x86_64 version 0.3 alpha (bare metal)

### Issue:
When running an async redis client and using pipelining in order to batch transactions, after a short period of time Dragonfly stops responding and it just hangs.
When observing the open connections, I found out that there are multiple ESTABLISHED connections to Dragonfly, all of

[2022-06-14 18:13] romange commented on #150
Thanks @thevaizman .

I am not familiar with async functions in python. How do I call `do_concurrent` from the main function?

[2022-06-14 18:17] thevaizman commented on #150
Hey, you will have to modify the provided code (especially the `ConnectionPool` bit so that you can connect to your local Dragonfly DB instance.
Regarding calling async functions, you can add the following code to the file:
[code]

[2022-06-14 18:41] romange commented on #150
@thevaizman  I think that `init_pool` function is missing.

[2022-06-14 18:49] thevaizman commented on #150
And for creating the lists, you can use whatever values since the values don't affect the outcome:

[code]

[2022-06-14 19:00] romange commented on #150
Hi Tal,

my final version of the script is below.
Can you confirm that this script stalls DF in your environment? If not, then what's missing?

[code]

[2022-06-14 19:38] romange commented on #148
@ugcodrr  from the log it seems you did not run any eval statements, only ZADD.  Are you sure it's a log from a faulty run?
Do you have maybe a shot code that reproduces it?

[2022-06-14 19:41] thevaizman commented on #150
Hey again, sorry, it looks like I forgot to mention that the keys need to actually be unique so that they can be inserted into the DB. Also, the Dragonfly DB machine I'm using is remote (not sure if that also matters).
Sorry for the confusion.

Anyways, just confirmed that the following script indeed make Dragonfly hang after ~20s:

[code]

You can slo observe how the connections are all ESTABLISH

[2022-06-14 20:02] romange commented on #150
Thanks, I succeed to reproduce it locally.

[2022-06-14 20:14] ugcodrr commented on #148
Oh sorry about that, I found out about this issue while running my redis testing code. I only went to the eval as a way to compact the code to potentially share here for another question regarding sorted sets.

Here is the eval one,
[dragonflyEval.txt](https://github.com/dragonflydb/dragonfly/files/8903673/dragonflyEval.txt).

[2022-06-14 21:48] #148 closed

[2022-06-14 21:49] romange commented on #148
It's all good, @ugcodrr  - i found the bug. the next version will have the fix. Thanks again for reporting it!

[2022-06-14 22:23] ugcodrr opened #153 "(zset) Slower throughput"
Not the biggest of issues, only making this because dragonfly is presenting itself as being multithreaded. Perhaps there is just a simple config option I am missing.

My Redis version is `7.0.0` and dragonfly is running on the latest commit (`df-dev`). While running my test script, I notice that Redis is able to handle 70,000+ commands/sec and only use ~30% CPU.  While with dragonfly it is constan

[2022-06-14 22:57] romange commented on #153
can you put here your test script, please?
what `uname -a` and `cat /proc/cpuinfo` tell you?

[2022-06-14 22:58] romange commented on #153
Also, can you please paste the output of dragonfly when running `./dragonfly --logtostderr`

[2022-06-15 01:17] ugcodrr commented on #153
`Linux ucody 5.15.0-37-generic #39-Ubuntu SMP Wed Jun 1 19:16:45 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
[cpu.txt](https://github.com/dragonflydb/dragonfly/files/8904868/cpu.txt)

[code]

[2022-06-15 01:22] ugcodrr commented on #153
https://github.com/ugcodrr/redis-test

[2022-06-15 07:35] romange commented on #150
Dude, thanks for helping me to reproduce this bug!
It's probably the toughest one I probably handled in the last 3 months (still did not solve it, btw).

[2022-06-15 09:17] thevaizman commented on #150
Sure thing! Glad I could help. Thank you for the effort and in general for DF, can’t wait to use it in our production! :)

[2022-06-15 11:27] osevan commented on #145
I removed in my VM libpfm4-dev , now compile running

[2022-06-15 11:27] #145 closed

[2022-06-15 13:53] #150 closed

[2022-06-15 14:00] romange commented on #153
@ugcodrr  - you are running DF on 16 cores, not on a single core - see `Running 16 io threads`.

Re throughput - it seems you are using a single connection to communicate with Redis, am i right?
In this case, the throughput is predetermined by the latency of each request. If you want to reach full capabilities of DF you need to use multiple connections. If your prod environment will consist of a s

[2022-06-15 15:17] romange commented on #59
@FZambia  I checked the loadtest you provided.  I can confirm that with such setup Redis will provide more throughput than Dragonfly. The reason for this is that DF uses message passing between threads (similar to go channels).  Therefore a single PUBSUB request will incur 10-20us server-side latency compared to 1-2us for Redis. However, if you use multiple connections with DF, things will change

[2022-06-15 15:19] romange commented on #149
This task is derived from #59.

I can confirm that with `BenchmarkRedisPublish_1Ch` setup,  Redis will achieve more throughput than Dragonfly. The reason for this is that DF uses message passing between threads (similar to go channels). Therefore a single PUBSUB request will incur 10-20us server-side latency compared to 1-2us for Redis. However, if you use multiple connections with DF, things will

[2022-06-15 15:19] #149 closed

[2022-06-15 19:25] FZambia commented on #59
@romange many thanks for the explanation! Actually it sounds good – in practice many server nodes connect to Redis, having a higher throughput is more important. Will be trying different cases in the future.

Also, thanks for fixing LUA issues. Hope to try this all again very soon.

[2022-06-15 21:28] FZambia commented on #59
Failed 😀

[code]

[code]

[2022-06-16 19:49] romange opened #159 "wrong memory accounting when loading rdb file"
**Describe the bug**
When rdb is loaded, its objects are loaded in the load thread but are used in another (for example zset).
This creates problems since thread-local `zmalloc_used_memory_tl` becomes out of sync.

**To Reproduce**
Steps to reproduce the behavior:
1. `memtier_benchmark  --command "zadd __key__ 1 __data__"   -n 5000 --threads=2 --command-key-pattern=R --distinct-client-seed -c 30 -

[2022-06-18 12:01] thevaizman opened #161 "Periodical Snapshotting"
Would love to see auto-snapshotting of the RDB file in DF.
Currently I can use `SAVE/BGSAVE` but the option to configure automatic snapshotting - i.e `SAVE 60 1000` is non-existent.
Would love to replace redis with DF but I don't want to take the risk of data loss or the overhead of having an external job to take care of periodically dumping the data to disk.

Is there a plan to support this featu

[2022-06-18 16:23] romange commented on #161
yes, we can support it, though unlikely we gonna use the same spec as redis.

btw, DF saves timestamped files by default, though it's possible to override it, and use a single snapshot file like with Redis.
What would you choose? timestamped files will require some sort of garbage collection configured externally, otherwise you will find yourself out of disk space. In addition, if you run your Red

[2022-06-18 16:34] thevaizman commented on #161
Thanks for your response!

I actually DON'T like the redis spec for the periodical snapshotting, I just used it as an example to explain the feature 😄
I would simply like a runtime arg that I can supply to DF that will indicate when to dump to disk (e.g `--snapshot-interval=60` will dump every 60 seconds.

In terms of naming the snapshots, I personally choose to override the timestamps as I only w

[2022-06-19 09:32] zamazan4ik opened #163 "Document supported hardware architectures"
Hi!

I have checked the documentation but did not find any word about supported architectures - only about supported operating systems.

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is requir

[2022-06-20 08:46] codgo opened #165 "Do you support clustering?"
Do you support clustering?

[2022-06-20 08:48] romange commented on #165
Not yet, and it will probably take a while.

Having said that, unless you need to manage terrabytes of data, you may find a single instance Dragonfly sufficient for your needs.

[2022-06-20 17:25] #144 closed

[2022-06-21 15:29] romange commented on #165
Closing. Feel free to continue in discussions if you have more questions

[2022-06-21 15:29] #165 closed

[2022-06-21 16:19] liaohongxing commented on #163
After my testing, I determined that I needed some instruction set support

At least sse4.2 avx is required, avx2 seems not to need it, it crashes when sse4.2 avx is not available

The CPU I tested was Inter Xeon E5-2690 V2

cat /proc/cpuinfo

[code]

[2022-06-21 16:43] romange commented on #163
Thanks, @liaohongxing . Indeed I recently stabilized minimum requirements for x86_64 architectures [via here ](https://github.com/romange/helio/commit/445ebf76b96b7360982f2b3c4558ec347ba3adb5) and [here](https://github.com/dragonflydb/dragonfly/commit/a1c3d8e33d2c844b51de409887aad8b882f31e9e) . In short, we require sandybridge or equivalent. For aarch64 we require Graviton2. It should suffice for

[2022-06-22 08:34] Akaame opened #169 "Podman and DragonflyDB"
**Describe the bug**

`podman run --network=host docker.dragonflydb.io/dragonflydb/dragonfly` fails with `proactor.cc:432] Error initializing io_uring: (38) Function not implemented` which, I think, indicates that io_uring is not supported. In this case, can we have a user friendly error here instead of the stack trace:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install podman
2

[2022-06-22 15:52] romange commented on #169
interesting. I've never run it via podman. I wonder why io_uring is disabled there. @axboe do you know maybe?

[2022-06-22 15:53] romange commented on #169
@Akaame  did you try running dragonfly natively on that host? Does it work then?

[2022-06-22 15:57] pascaldekloe opened #170 "QUIT does not disconnect once subscribed"
`QUIT` terminates the connection.

[code]

`QUIT` does not terminate the connection anymore after a `SUBSCRIBE`. Instead, it waits for another line/command, and then the connection gets terminated.

[code]

The issue was detected with by https://github.com/pascaldekloe/redis/issues/4.

[2022-06-22 15:59] romange opened #171 "QUIT does not close connection when in subscribe mode"
**Describe the bug**
DF does not close connection upon `QUIT` when in subscribe mode.

**To Reproduce**
[code]

**Expected behavior**
A connection is closed by DF.

Reported via https://github.com/pascaldekloe/redis/issues/4

[2022-06-22 17:32] romange commented on #169
Confirmed that it fails on Ubuntu as well. @Akaame you can still run it with `--privileged` flag. I do not know why podman in rootless mode can not call io_uring APIs.

[2022-06-22 19:03] romange commented on #163
For the record, @zamazan4ik  asked to document more clearly that we officially support x86_64 and Graviton-based arm64 systems.

[2022-06-23 01:17] guyinatuxedo opened #172 "Add Lua Scripts without loading them in via the console"
Unsure of the severity of this, I just wanted to point out that it can be done. I know that via editing the Database dump file, you can add saved lua scripts that can be executed when the server starts back up again. Unsure of the severity of this because there is no ACL, and you can load in scripts from the client.

[2022-06-23 04:24] romange commented on #172
I did not understand the problem. Are you saying that the ability to load scripts from an rdb file is a bug?

[2022-06-23 09:32] Tieger commented on #169
I had the same problem with WSL2.
# uname -a
Linux XSJ-20210114XOJ 5.10.16.3-microsoft-standard-WSL2 #1 SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

./dragonfly --alsologtostderr
I20220623 17:28:24.142984 30367 init.cc:56] ./dragonfly running in opt mode.
I20220623 17:28:24.143221 30367 dfly_main.cc:179] maxmemory has not been specified. Deciding myself....
I20220623 17:28:24.14

[2022-06-23 19:04] axboe commented on #169
Newer WSL2 kernels have it enabled.

[2022-06-23 22:35] guyinatuxedo commented on #172
Not exactly, I made a mistake with a submission. I just wanted to let you
know that it could be done, since looking through the code/docs, it looks
like there are plans to implement an ACL later. Feel free to close the
issue.

On Thu, Jun 23, 2022, 12:24 AM Roman Gershman ***@***.***>
wrote:

[2022-06-24 07:20] liaoweiguo opened #174 "proactor.cc:432] Error initializing io_uring: (1) Operation not permitted"
Docker install fail to load, ubuntu 20.04, kernel 5.18.4
Linux ??-ubuntu 5.18.4-051804-generic #202206141755 SMP PREEMPT_DYNAMIC Tue Jun 14 18:09:57 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Status: Downloaded newer image for docker.dragonflydb.io/dragonflydb/dragonfly:latest
I20220624 06:36:54.916532     1 init.cc:56] dragonfly running in opt mode.
I20220624 06:36:54.916580     1 dfly_main.cc:179]

[2022-06-24 07:23] liaoweiguo commented on #174
solved with --privileged

[2022-06-24 12:04] codgo commented on #165
No need for Pb level microservices and multiple IDC

[2022-06-26 19:13] romange opened #180 "introduce reply_builder_test"
reply_builder serializes DF/Redis responses into RESP binary format.

We currently lack unit test coverage of this code.

[2022-06-26 19:18] romange opened #181 "introduce graceful exit when io_uring is not present"
Currently DF crashes with ugly stack-trace when `io_uring_queue_init_params` exits with error 38.

We should provide a nice explanation of what can cause this. Currently there are two reasons:
someone run it on WSL2 on version smaller than `5.10.60.1` or DF was run via docker with `--priveleged` flag. The core reason for latter is not known to me. In any case, we should provide an explanation for

[2022-06-26 19:19] romange commented on #174
Opened https://github.com/dragonflydb/dragonfly/issues/181 to help with this.

[2022-06-26 19:19] #174 closed

[2022-06-26 19:19] #172 closed

[2022-06-27 09:12] oscarsiles opened #182 "oscarsiles/jotlet django app does not work with Dragonfly"
I'm trying to test dragonfly on a Django + Channels project, but am getting the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create Django project with redis cache
2. Load a page that uses cache

[2022-06-27 09:15] romange commented on #182
@oscarsiles  Can you please tell what dragonfly version you are running? We had this bug in previous versions but it has been fixed in the latest one.

[2022-06-27 09:24] oscarsiles commented on #182
@romange , you're right, my docker image hadn't updated so force updating fixed that particular issue. However, now when I try to load the page dragonfly reaches 100% CPU and is stuck (blocking the rest of the page from loading).

[2022-06-27 09:25] romange commented on #182
how do you run dragonfly?

[2022-06-27 09:26] oscarsiles commented on #182
Running via docker on WSL2, using the following docker-compose settings:

[code]

[2022-06-27 10:54] romange commented on #182
@oscarsiles  your help will be greatly appreciated. If you can not post the log, then maybe the Django code that can reliably reproduce the problem?

[2022-06-27 10:55] oscarsiles commented on #182
@romange apologies, in the middle of meetings! Will post logs once I'm able to later today.

[2022-06-27 14:59] romange commented on #182
Can I assume that running https://github.com/oscarsiles/jotlet  integrated with dragonfly triggers this bug @oscarsiles  ?

[2022-06-27 16:56] oscarsiles commented on #182
Yes, that's right.

[2022-06-28 04:45] romange opened #183 "need to setup sigill handler"
We have too many reports of trying dragonfly on the old hardware.

we should setup a handler for SIGILL and explain why dragonfly exits. something like this as early as possible in dfly_main.cc

[code]

[2022-06-28 05:49] romange opened #184 "pass tests for Suor/django-cacheops repo"
1. `git clone https://github.com/Suor/django-cacheops`
2. cd django-cacheops/
3. `pip install -r ./requirements-test.txt`
4. `./run_tests.py  2> 1.err`

The first failure is due to lack of support of cjson https://github.com/mpx/lua-cjson.
Redis just copied the files needed to build cjson into `deps/lua/src/` together with other libraries like msgpack, struct and bit.

[2022-06-28 05:50] romange commented on #184
Related to https://github.com/dragonflydb/dragonfly/issues/182

[2022-06-28 07:47] romange commented on #182
@oscarsiles  how do I start you django app? I've installed your `requirements-dev.txt` but not sure how to run it from the repo 🤔

[2022-07-02 20:34] dumblob opened #186 "Any plans for persistency (i.e. send reply to client only after fsync() returned on all involved shards)"
**Did you search GitHub Issues and GitHub Discussions First?**
Yes.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated looking for a fast DB with key-value **transactional** semantics which scales dynamically. I can not find one. Redis does not offer fine-grained (i.e. [**per client request**](https://github.com/redis/redis/issues/6200 )) persistency guarrant

[2022-07-03 03:49] mybigman commented on #169
same issue

[code]

[2022-07-03 13:31] romange commented on #186
Have you looked at MemoryDB from AWS? This is what they do, imho.
As to Dragonfly, we do not have yet concrete plans regarding full durability guarantees. I think that what you ask for will require many steps from where we are right now. We will start with H/A and we will see how we proceed from there.
Btw, we also consider supporting more sophisticated protocols than RESP (i.e. http). This will a

[2022-07-04 12:57] #90 closed

[2022-07-05 16:35] jbylund opened #191 "High Cpu Utilization in Docker"
**Describe the bug**

Dragonflydb running in docker (managed by yacht) has higher than expected cpu utilization even when there are no clients using the service.  I'm almost sure that I'm not giving the docker container the correct permissions or something, but I'm not sure the correct debugging steps.

**To Reproduce**
I think just start under docker and wait?

**Expected behavior**
Close to 0 cp

[2022-07-05 16:38] romange commented on #191
can you attach the top screenshot showing high CPU utilization?

[2022-07-05 16:50] jbylund commented on #191
6 core / 12 thread i5-10400

Top output:
[code]

It's not that 17% of one core is super high, it's just always at that level even if not doing anything.

[2022-07-05 16:55] romange commented on #191
it's expected. Dragonfly manages periodic timers that update its expiry data-structures 1000 times a second for each thread.
it's controlled by `hz` flags which is by default 1000. if you want to use ms precision for expiry you should not change the value, otherwise you can reduce it to 100.

[2022-07-05 18:33] #191 closed

[2022-07-05 18:42] romange commented on #191
I agree it's not ideal. However, I would like to understand how why it bothered you in the first case. 17% /6  is 3% per cpu overhead. you do not pay additional cloud costs for cpu time. so what bothered you?

[2022-07-05 18:51] jbylund commented on #191
I'm running locally, so there's some chance that increased cpu means higher power draw, or more acoustic noise. But I think the mental noise it caused for me in system monitoring tooling was the biggest factor.

[2022-07-05 22:47] romgrk commented on #181
I'm also getting this issue when `--privileged` is *not* present (Amazon Linux 2, kernel 5.15). The issue disappears by adding that flag. Could be nice to mention in the Getting Started page.

[2022-07-06 05:33] romange commented on #181
Thanks for the suggestion. Why would not you send a pr that implements this
advice?

On Wed, Jul 6, 2022, 01:47 Rom Grk ***@***.***> wrote:

[2022-07-06 10:20] romange commented on #113
@drinkbeer  hey man, did you have a chance to experiment with it?

[2022-07-06 21:40] romgrk commented on #181
Sure, where are the website files?

[2022-07-07 04:59] romange commented on #181
I meant this file: https://github.com/dragonflydb/dragonfly/blob/main/docs/quick-start/README.md

[2022-07-07 10:39] #159 closed, assigned to romange

[2022-07-07 10:45] romange commented on #186
Closing. Feel free to continue the discussion in "Discussions"

[2022-07-07 10:45] #186 closed

[2022-07-07 11:51] romgrk commented on #181
Done, but you might want to update the website, I followed the instructions there to setup a test instance.

[2022-07-07 14:45] dumblob commented on #186
Last time I took a look was when they announced the fork some years ago as reaction to Redis becoming more commercially-focused. But I did not notice anything different from Redis back then. I will look into it now if anything changed - thanks for the pointer!

Will keep an eye on it! Is it enough if I follow this issue tracker?

Perfect! Looking forward to what you will choose as the next step in

[2022-07-07 19:28] Tomato6966 opened #195 "Crashes out often when reconnecting"
When i restart my application, which restarts the connection the the dragonfly
this errorhappens
![image](https://user-images.githubusercontent.com/68145571/177856482-468c170c-6642-4f67-9127-0b0c4a7a523c.png)

I am using ioredis with pooling

[2022-07-07 19:59] Tomato6966 commented on #195
![image](https://user-images.githubusercontent.com/68145571/177861242-e4298cbf-0c8a-4066-a83a-ae4025475992.png)
here is the full error i finally got

ERROR CALLING ACCEPT SYSTEM too many open files

but i need that amount of connections... (32 Workers which each has a connection to the dragonfly server)

[2022-07-08 17:43] Tomato6966 commented on #195
thanks

[2022-07-08 17:43] #195 closed

[2022-07-08 20:25] iko1 commented on #181
I've sent a [PR](https://github.com/romange/helio/pull/4) that implements a way to check whether io_uring is supported.

[2022-07-08 20:44] romange commented on #181
@iko1 why not just try creating iouring on server bootstrap just to see it could be done?

[2022-07-09 07:52] iko1 commented on #181
@romange  Agree, the trivial solution is checking `io_uring_queue_init_params ` result code is equal to ENOSYS (Function not implemented)
This PR can be a solution: https://github.com/romange/helio/pull/5

[2022-07-09 19:34] romange commented on #153
Closing. Feel free to reopen if you still have questions,

[2022-07-09 19:34] #153 closed

[2022-07-09 19:36] romange commented on #181
#197 fixes this

[2022-07-09 19:36] #181 closed

[2022-07-09 19:37] romange commented on #183
#198 fixes this

[2022-07-09 19:37] #183 closed

[2022-07-09 20:25] romange commented on #161
I think that the simplest and most versatile approach would be to adopt a glob-based spec.
For example "10:00" would match 10am, but "*:00" would match an every round hour.
I think periodic configuration does not fit the use case, where one wants to snapshot during low-load hours.

[2022-07-09 21:30] thevaizman commented on #161
Sounds reasonable to me. Although you could argue that during high-load hours there's a bigger risk of losing data due to crashes/failures, which is why I tend to like the periodic configuration of redis.
But as long as we can use something like `*:00`, I believe this is sufficient for most use-cases.

[2022-07-10 05:39] romange opened #199 "improve our pytest framework"
Currently our pytest framework in tests/pytest is very naive. It assumes that dragongly process is already running.

1. We should introduce the fixture that assumes the binary exists under `gitroot/build_dbg` (if `DFLY_BIN` env is undefined).
this fixture should start a dragonfly process at the beginning of pytest run and be used by multiple tests. Each test should get an empty db (after flushall)

[2022-07-10 05:43] romange commented on #199
1. This is very high level, I am not very familiar with pytest but based on my little knowledge of pytest it can be done there easily.
2. Finally, I want README under `tests/` that explains how to run the tests under pytest.

[2022-07-10 05:44] romange commented on #161
👍🏼

So, the task is:
1. To introduce a flag `save_schedule` or similar in `server_family.cc`
2. If the flag is not empty, to parse it on a startup and see if it fits the glob spec to match `HH:MM` 24h time. We probably should not crash on incorrect value but output error log and ignore.
3. If everything is ok we should start a fiber that sleeps in a loop every 20s. (20s is enough detailed so we co

[2022-07-10 06:04] romange commented on #132
Not something that is on our roadmap right now.

[2022-07-10 06:04] #132 closed

[2022-07-10 06:19] romange opened #200 "introduce a clang-format presubmit hook"
see https://github.com/ssciwr/clang-format-wheel and  https://github.com/pre-commit/mirrors-clang-format

need to update contributing doc if it requires installing additional dependencies.

[2022-07-10 06:22] romange commented on #107
Opened #200 for formatter hook. Re PR labeling - based on the Pr volume, it's not a problem we need to solve today.
Closing this issue as completed.

[2022-07-10 06:22] #107 closed

[2022-07-11 16:31] odedponcz opened #202 "Print version on startup"
Runing with docker I never know what version of Dragonfly is currently running.
I would help if the Dragonfly version would be printed on startup.

**I20220711 16:14:59.299147     1 dfly_main.cc:170] starting dragonfly v0.5.0.**
I20220711 16:14:59.299147     1 init.cc:56] dragonfly running in opt mode.
I20220711 16:14:59.299224     1 dfly_main.cc:179] maxmemory has not been specified. Deciding mys

[2022-07-12 07:11] shmulik-klein commented on #199
@romange If not assigned, I'll take this one.

1. Is `DFLY_BIN` is already used? can it be more explicit such as `DRAGONFLY_HOME` or `DRAGONFLY_BIN`?
2. In the fallback, did you meant `gitroot/build-opt`?

[2022-07-12 07:59] romange commented on #199
go for it and yes

[2022-07-12 11:20] iko1 commented on #202
![image](https://user-images.githubusercontent.com/11705712/178478129-3369ed46-1cf5-420c-9137-6c5c3d34dca7.png)
consider adding the commit id alongside the tag name

[2022-07-12 14:47] romange commented on #202
👍🏼  @iko1  commit sha is indeed missing from release builds. However what you should me is a development build which does not represent the release configuration anyway.
that's what we print for release binaries:
[code]

[2022-07-12 14:48] romange commented on #202
we can add gitsha to version info as well.

[2022-07-13 10:08] romange commented on #199
here is the test you could do with another configuration.
run process `dragonfly --proactor_threads=1 --max_memory=2097152`,

and within the test start adding string entries with blobs say of 1K, after ~2000 keys you should start getting "out of memory"  error at some point and this is what the test could check. This way you will have a useful example of running different configurations of dragonf

[2022-07-13 16:19] hnimminh opened #206 "dragonflydb support unix socket connection like redis"
### Discussed in https://github.com/dragonflydb/dragonfly/discussions/168

<div type='discussions-op-text'>

<sup>Originally posted by **hnimminh** June 22, 2022</sup>
Interesting project, Does dragonflydb support unix socket connection like Redis?</div>

[2022-07-14 07:35] romange commented on #104
@iko1  pls take a look at this issue. You can continue working on Json branch - https://github.com/dragonflydb/dragonfly/tree/Json  .

The initial milestone would be to add json_familyXX files that implement `JSON.GET` command.
The syntax is `json.get <key> <path>`. See elasticache documentation for that.
the command should work on string types. it should try and parse the string into json. if it

[2022-07-14 17:11] anosulchik opened #207 "SIGABRT and dragonflydb crash on "Check failed: db.expire.Insert""
**Describe the bug**
We're running dragonflydb v0.4.0 in cache mode (see exact command below), it serves SETEX requests at the rate of 40-60K op/s and crashes when its memory utilization reaches 98% or so (see graphs). By default it allocates about 80% of memory available and we're pretty sure evictions should not cause the crash but you can see clear correlation between evictions spikes and the c

[2022-07-14 21:05] anosulchik commented on #207
Update: I've tried to decrease `--hz` param (from default 1000 to 100, 50, 25, 10) to make evictions more aggressive *but still see crashes*. They can be easily reproduced if I decrease `--maxmemory` so it saturates faster.

[2022-07-15 03:34] romange commented on #207
Thanks, Artem. `--hz` is not related. Finally an interesting bug. I am looking at it.

[2022-07-15 12:14] #207 closed

[2022-07-15 14:59] romange commented on #207
@anosulchik can you, please, use the new release https://github.com/dragonflydb/dragonfly/releases/tag/v0.5.0 and check whether it fixes your issue?

[2022-07-15 15:12] anosulchik commented on #207
@romange Thanks for the quick fix! I've compiled new version and re-running my POC with it -- so far so good, I see no crashes anymore and steady rate of evictions (expected by our use case). I also see slightly increased CPU load by 1-2% or so. I'll share some screenshots if interested after longer run time at full speed.

[2022-07-15 15:26] romange commented on #207
@anosulchik yes, would be definitely interested

[2022-07-15 19:19] marcusbooyah commented on #165
I wonder if [mcrouter](https://github.com/facebook/mcrouter) could work with Dragonfly as the backend.

[2022-07-15 21:13] anosulchik commented on #207
@romange
After ~4h of operation is crashed again - now in different manner. Process remained in memory but it stopped processing incoming the requests. Client application just started to throw exceptions on connection failure to dragonflydb. Here's what I see in the logs of dragonflydb:

[code]

Some graphs:

![Screen Shot 2022-07-15 at 17 04 22](https://user-images.githubusercontent.com/14876304/

[2022-07-15 21:22] anosulchik opened #209 "--pidfile parameter for the dragonflydb binary"
`--pidfile=</path/to/dragonflybd.pid>` would make it easier to integrate it with [monit](https://mmonit.com/monit/). When this param is specified, dragonflydb would write its pid into specified file or fail if it's possible e.g. due to permission.

[2022-07-16 04:31] romange opened #210 "possible deadlock when running DF for some time"
as reported by @anosulchik

We have three instances r5.4xlarge, two of them were configured with 60% of memory available to dragonflydb and one with default settings (it gets 80%). The former two remained reachable so I was able to say that dragonflydb was just hanging on incoming requests, the latter instance became unavailable.

**Desktop (please complete the following information):**
* OS: Ubun

[2022-07-16 08:11] romange commented on #210
@anosulchik I opened this bug to discuss the issue. It's vaguer than the previous one, so I appreciate your help with that.  I have some questions regarding the problem:
 1. How does your app interact with these 3 instances? Does it send mirrored traffic (same commands) to all of them or each instance receives different commands?
 2. You said that instances A,B were reachable but C was not. Did yo

[2022-07-16 08:14] romange commented on #207
@anosulchik I opened #210 . Lets continue the discussion there.

[2022-07-17 06:06] osevan commented on #128
option(DF_USE_SSL "Provide support for SSL connections" ON)

Its enough to set here to off?

[2022-07-17 06:23] romange commented on #128
yes. when you configure the build with cmake: `cmake .. -DDF_USE_SSL=OFF`

[2022-07-20 05:05] romange commented on #93
duplicate of #206

[2022-07-20 05:05] #93 closed

[2022-07-20 18:05] anosulchik commented on #210
@romange Please see replies below:

1. Writer app (side note: it's autoscaled app running at 15-30 instances) has three instances of dragonflydb in its configuration. The only command we use is `setex ...` which is sent to all three dragonflydb in best effort mode (write is considered as successful if at least one dragonflydb replied). At this stage there are no readers apps, only writes in our PO

[2022-07-20 20:18] romange commented on #210
Thanks Artem, this helps. You are saying that the only thing you did is SETEX, it really limits the problem space. The fact that all apps stopped at the same time is also a very interesting signal. Now, I looked at the graphs again and I have some bold theory.
I am most likely mistaken, but you can verify it easily.

1. There is a bug in dragonfly that caused it to grow beyond its memory limit as

[2022-07-21 02:42] koron opened #213 "support BITFIELD command"
### Discussed in https://github.com/dragonflydb/dragonfly/discussions/212

<div type='discussions-op-text'>

<sup>Originally posted by **koron** July 20, 2022</sup>
Are there any plans to support the [BITMAP commands group](https://redis.io/commands/?group=bitmap)?

</div>

### Summary

I want to use [`BITFIELD` command](https://redis.io/commands/bitfield/) for specifalized bloom filter [koron/jav

[2022-07-21 09:02] Delicious-Bacon opened #214 "Search support"
I've seen JSON is in plans: https://github.com/dragonflydb/dragonfly/issues/104

What about Search (RediSearch)?

It's part of [Redis Stack](https://redis.io/docs/stack/), and is one of the pain points when doing concurrent index searching—latency spikes up when concurrently searching/aggregating an index with a lot of documents.

**Describe the solution you'd like**
Redis-like support for Search

[2022-07-21 09:23] romange commented on #214
Designing RedisSearch from scratch is a huge project (unlike JSON). I won't think we can pursue it realistically speaking within the next 2 years. Sorry.

[2022-07-21 14:39] anosulchik commented on #210
Thank you for your reply. Please see the answers to your questions:

1. Let me confirm that we don't use swap, there's no configured swap devices at any of dragonfly instances. We use ubuntu focal LTS EC2 image and I think it's disabled there by default.

2. The application performs *synchronized* parallels write into all redises/dragonfltdb. In other words, it sends three parallel requests to dif

[2022-07-21 16:27] Delicious-Bacon commented on #214
Thanks for the reply!

Well, maybe in the next 2 years, then! 😄 👍

[2022-07-21 16:33] romange commented on #210
@anosulchik fair enough. Maybe the swappiness is not the root reason for Royal to be stuck but I still want to be sure thatwhat happens with `joel` and `option` is not affected by `royal`.  Regarding your remark with timeout values - it's true that it would progress after 2 seconds, but then it means you would have an effective command rate of `1/2s=0.5qps` all the time and that's not something yo

[2022-07-23 17:45] iko1 commented on #209
@romange, I'd like to implement a function that creates `pidfile `file, where is the suitable place to place that function?
I think the file `proc_util.c` within helio can be an option.
The function will be called from server bootstrap in `dfly_main.cc`

[2022-07-23 18:40] romange commented on #209
Thanks @iko1 .  Let's just implement everything inside dfly_main.cc.

[2022-07-27 06:46] #209 closed

[2022-07-27 07:51] #202 closed

[2022-07-27 08:07] #169 closed

[2022-07-27 08:14] romange opened #218 "Support RESP3 protocol"
RESP3 is an enhancement of RESP2. Specifically, it encodes response types as part of the protocol. It's much easier to build client libraries with RESP3 because a client library does not need to know the semantics of the command in order to parse them.

Relates to #129 #180 and #102

[2022-07-27 08:30] romange opened #219 "introduce STICK command"
DF (similarly to Redis OSS) allows process-wide configuration (`cache_mode`) of whether to support records eviction or not.

The community asked on multiple occasions for a feature that allows whitelisting keys, so that the eviction policy won't kick them out.
Sometimes it's useful when the datastore is mostly cache but has some metadata keys that store the cache state.

I suggest introducing a ne

[2022-07-27 12:19] heri16 commented on #218
Also "CLIENT TRACKING" support is missing from: https://github.com/dragonflydb/dragonfly/blob/main/docs/api_status.md

https://redis.io/commands/client-tracking/

https://redis.io/docs/manual/client-side-caching/

[2022-07-27 13:52] Forza-tng opened #220 "Build issue. Linker looking in wrong dir"
**Describe the bug**
It seems that the linker is looking in the wrong path for the third_party `.a` files. For example `third_party/libs/dconv/lib/libdouble-conversion.a` is actually available at `third_party/libs/dconv/libdouble-conversion.a`. The same goes for all of the files in the output below.

**To Reproduce**
Steps to reproduce the behavior:
1.  `git clone --recursive https://github.com/dr

[2022-07-27 16:21] romange commented on #220
Weird. Maybe it's related to newer cmake?
1. Where did it put  `libdouble-conversion.a` before you moved it?
2. What's your cmake version?

[2022-07-27 18:13] Forza-tng commented on #220
I'm using cmake 3.22.4.

[2022-07-27 19:23] romange commented on #220
I succeeded to reproduce on Gentoo with cmake 3.22.2.
Submitted https://github.com/romange/helio/commit/a2fffa3132683fa61f53f9e80caa57e4f714f0bc
will fix dragonfly tomorrow.

[2022-07-27 19:43] Forza-tng commented on #220
Amazing :) I'll try it later tonight again.

Thank you 🙏

[2022-07-28 07:13] #220 closed

[2022-07-29 23:03] gohossein commented on #165
How a single instance Dragonfly can ensure High-Availability?
Another question is that, Does anyone use it in production at scale?

[2022-07-30 07:12] romange commented on #165
@gohossein  High-Availability by definition assumes that an instance crashed for some reason, it could be an AZ down or hardware failure. So a single instance can not provide "high availability".

Re - reliability - we run the test suite to ensure the correctness of the implementation, but Dragonfly is a rapidly growing project (we launched 2 months ago) so some unforeseen problems might rise. You

[2022-07-30 16:30] ryanrussell opened #223 "bug: version bump markup alignment"
**Describe the bug**
There's something wrong with the markdown making the feedback on version bumps not accessible...

**To Reproduce**
Steps to reproduce the behavior:
1. Try to leave a thumbs up or a rocket or a heart.

**Expected behavior**
You can get the the div, but you can't!

**Screenshots**
<img width="874" alt="image" src="https://user-images.githubusercontent.com/523300/181926383-d87226

[2022-07-30 16:32] ryanrussell commented on #100
Housekeeping. Re-open if necessary.

[2022-07-30 16:32] #100 closed

[2022-07-31 05:18] odedponcz commented on #223
Works for me. Can  you try again?

On Sat, Jul 30, 2022 at 7:30 PM Ryan Russell ***@***.***>
wrote:

[2022-07-31 12:31] ryanrussell commented on #223
This is probably so evident because I'm traveling and on cell/laptop... Couldn't give feedback on mobile, tried again on low width laptop browser and couldn't either access the div easily.

For example, here's the Mobile version ...
<img width="354" alt="image" src="https://user-images.githubusercontent.com/523300/182026374-9c5c5b82-b52a-48a7-91b8-45191b418309.png">

If there are 0 reactions, it's

[2022-08-01 21:18] anosulchik commented on #210
CC @romange

Just to confirm that I was able to reproduce the problem we were taking about.

1. In my most recent POC run I removed max memory settings for another host of three (`option` this time), so after ~4 hours it got memory exhausted that stopped the whole application from writing into redis / dragonflydb. I'm pretty sure that the app exhausted its redis connection pool -- even when timeou

[2022-08-01 21:19] anosulchik commented on #210
I think we can close this issue for now.

[2022-08-02 04:04] romange commented on #210
I am glad it's not a deadlock. Deadlock are the worst!
I will open another issue with memory limit problems. @anosulchik

[2022-08-02 06:23] #210 closed

[2022-08-02 06:32] romange opened #224 "Dragonfly does not respect maxmemory limit"
Originally reported by @anosulchik

Following on #210 and #207, it seems that Dragonfly can grow beyond the specified limit.

the API is mostly `setex` command.

I have a working theory why it happens but I would like to understand more about the write pattern of the system.

what's the average value size?
Does it mostly write new keys or update the existing keys? what's the ttl of the stored item

[2022-08-02 11:44] #206 closed

[2022-08-02 11:45] romange commented on #206
@hnimminh  if you build from main, you can use `unixsocket` flag for this.

[2022-08-02 11:46] #171 closed

[2022-08-02 12:32] romange commented on #142
Hey @ryanrussell, how can we enforce file naming in docs dir?

[2022-08-02 12:52] ryanrussell commented on #142
Hey, let me put a couple cycles on this.

If I can't find a clean solution, I will close and keep it manual.

[2022-08-02 17:21] ryanrussell commented on #142
This is not a distinct issue to DF. Closing for housekeeping.

[2022-08-02 17:21] #142 closed

[2022-08-02 17:21] ryanrussell commented on #223
This is not a distinct issue to DF. Closing for housekeeping.

[2022-08-02 17:21] #223 closed

[2022-08-04 21:20] zamazan4ik opened #226 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the database. Could you please describe somewhere in the documentation:

- How to upgrade the database to the newer version (hopefully with no downtime)
- How to downgrade the database to the older version (hopefully with no downtime)
- Maybe some compatibility policies and not

[2022-08-05 09:09] romange commented on #226
yes, we need to document this. Currently, Dragonfly does not support primary/secondary replication. therefore it's not possible to upgrade without downtime.

with downtime - it's similar to Redis OSS: you produce an rdb snapshot on the running server with "SAVE" command.
Then you use `dbfilename` flag to load the snapshot on a new server.

[2022-08-05 09:16] zamazan4ik commented on #226
@romange what about downgrade?

[2022-08-05 11:46] romange commented on #226
I understand what you are asking. We launched 3 months ago and we do not guarantee that future DF versions will necessarily be backward compatible with earlier ones. Currently we are at a stage where innovation precedes compatibility.

Having said that, unless you used streams, your rdb snapshots should be compatible with all versions of dragonfly.

[2022-08-07 13:19] odedponcz opened #229 "RENAMENX - not according to spec"
RENAMENX should return 1 when renaming is done. Currently it retruns "OK".
If destination key exists it should return 0. Currently it returns Err

**To Reproduce**
127.0.0.1:6379> set x 5
OK
127.0.0.1:6379> renamenx x z
OK

127.0.0.1:6379> set x 5
OK
127.0.0.1:6379> set y 9
OK
127.0.0.1:6379> renamenx x z
Err

**Expected behavior**
should return 1 and not OK

**Env:**
  - Version: 0.6

**Reproduci

[2022-08-07 16:18] odedponcz opened #231 "Node-Redis integration test against dragonfly"
Run integration test with Node-Redis. Fail on 13 tests.
361 passing (2s)
  42 pending
  13 failing

  1) LINSERT
       client.lInsert:
     ERR no such key

In Redis:
127.0.0.1:6379> linsert key BEFORE pivot element
(integer) 0
In Dragonfly:
127.0.0.1:6379> linsert key BEFORE pivot element
(error) ERR no such key

  2) LPUSHX
       client.lPushX:
     ERR no such key

  3) RPUSHX
       client.r

[2022-08-07 19:49] #229 closed

[2022-08-11 09:07] zakevich opened #234 "Cannot run docker on local machine"
**Describe the bug**
Cannot do first step to start using DragonFlyDB. Will be appreciated for any assistance.

**To Reproduce**
Steps to reproduce the behavior:
1. UE01RD@APM3LC02X60VDJGH8 dragonfly_test % docker run --privileged --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly
I20220811 08:54:19.962579     1 init.cc:56] dragonfly running in opt mode.
I20220811 08:54:

[2022-08-11 11:43] ryanrussell commented on #234
Your system is does not meet the minimum kernel requirements.

From https://github.com/dragonflydb/dragonfly/

Dragonfly runs on linux. It uses relatively new linux specific [io-uring API](https://github.com/axboe/liburing) for I/O, hence it requires Linux version 5.10 or later. Debian/Bullseye, Ubuntu 20.04.4 or later fit these requirements.

[2022-08-11 16:36] romange commented on #234
What Ryan said. Closing.

[2022-08-11 16:36] #234 closed

[2022-08-11 18:58] Nike682631 commented on #161
@romange Is this issue available to take up?

[2022-08-11 18:58] Nike682631 commented on #199
@romange Is this issue available to take up?

[2022-08-11 18:58] Nike682631 commented on #200
@romange Is this issue available to take up?

[2022-08-11 19:02] romange commented on #199
Yes, @Nike682631 - that would be helpful

[2022-08-11 19:04] Nike682631 commented on #199
Please assign

[2022-08-11 19:13] romange commented on #200
sure

[2022-08-11 19:14] Nike682631 commented on #200
Please assign

[2022-08-11 19:15] romange commented on #161
This one requires deep knowledge of DragonflyDB architecture to do correctly.  Lets start with other issues for now.

[2022-08-11 19:15] Nike682631 commented on #161
Sure

[2022-08-11 22:21] jonathanspw opened #235 "Change to an open-source friendly license to permit Linux distro packaging"
Currently DragonflyDB cannot be packaged into most Linux distributions because of the license in use.

I was planning to package it for Fedora/EPEL but that was shot down by the legal team based on the license.

https://gitlab.com/fedora/legal/fedora-license-data/-/issues/55#note_1059203371

[2022-08-12 04:26] romange commented on #235
@jonathanspw The solution is to provide our own hosted repo for the dragonfly package.
We can provide the hosting if you can guide us on how to build the package (and setup the public repo).

[2022-08-12 13:45] Nike682631 commented on #199
@romange  I have tried to go through the docs. I have understood what dragonflydb is about but needed some help on how I need to dive into the codebase. Can you gimme some suggestions on how I can get started on this?

[2022-08-12 14:08] romange commented on #199
Did you understand what needs to be done @Nike682631  in this issue ?

[2022-08-12 14:14] Nike682631 commented on #199
@romange  I believe the below two are the requirements for completing this issue.
1. Parse tests requirements and pass as flags to the executable
2. Add a README for pytest tests execution guidelines
For 1. I believe somehow test requirements need to be scanned somehow and then appropriate flags must be passed onto the commands for execution of tests and check expected results. For 2. I believe so

[2022-08-12 14:18] romange commented on #199
@Nike682631  I am sorry but this task requires someone who is knowledgeable with python, pytests framework and redis.

[2022-08-12 14:20] Nike682631 commented on #199
@romange Well I can study about the required stuff to work on the issue?

[2022-08-12 14:23] romange commented on #199
@Nike682631  I am sorry but this task requires someone who is knowledgeable with python, pytests framework and redis. I suspect you are not this person. Unfortunately, I do not have the capacity to teach these things.

[2022-08-12 14:26] Nike682631 commented on #199
@romange  dw I don't require you to teach me. I'll take a look at em myself. Will try to take a hack at it and inform here if I made any progress.

[2022-08-12 17:48] Nike682631 commented on #199
Hi @romange ,
So I've been going through test_dragonfly.py trying to understand what exactly is going on in the code. I believe the below snippet of code is the implementation for

this fixture should start a dragonfly process at the beginning of pytest run and be used by multiple tests. Each test should get an empty db (after flushall).

[code]
So to implement

I believe I need to pass some sort

[2022-08-12 17:52] steskalja opened #236 "Windows Server Support"
Are there any plans to support Windows Server? This would be a great feature to add.

[2022-08-12 17:59] iko1 commented on #236
It can't be run natively, because io_uring isn't supported under Windows.
You can run it within WSL version 2, make sure you install the latest WSL kernel with io_uring support.

[2022-08-12 18:08] romange commented on #199
For simplicity sake i would introduce an additional fixture that runs df server with other set of flags (see my example for the test i suggest to add)  and use that fixture in test.

[2022-08-12 18:33] romange commented on #236
Windows? What's this? I have not heard about this Linux distro.

[2022-08-12 21:45] #236 closed

[2022-08-12 21:49] romange opened #237 "Build a repo for RHEL/Fedora/Debian distributions"
- [ ] support building an rpm package
- [ ] support building a deb package
- [ ] host a custom repo for both rpm and deb for simpler installation of Dragonfly

[2022-08-12 21:50] romange commented on #235
Opened #237 for this. closing this issue.

[2022-08-12 21:50] #235 closed

[2022-08-13 09:10] romange opened #238 "implement json.set command"
See https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-set.html

Furthermore, when using elasticache redis instance:
[code]

we get `ReJSON-RL`
similarly, `scan 0 type ReJSON-RL` should return `foo`.

Related to #104

[2022-08-13 09:17] romange opened #239 "implement json.del command"
it's a tricky command to implement because jsoncons lib does not support it out of the box.
Spec: https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-del.html

[2022-08-13 09:29] romange opened #240 "implement json.numincrby"
implement json.numincrby
spec: https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-numincrby.html

specifically:
[code]
returns `"[2.1]"`

and `json.NUMINCRBY foo $.e 1` returns  `"[2.5]"`
and `json.NUMINCRBY foo $.e 1e10` returns  `"[1e+10]"`

moreover,
`json.NUMINCRBY foo $.e inf` returns `(error) OVERFLOW Addition would overflow`

[2022-08-13 09:34] romange commented on #240
[code]
returns `"[1.7e+308]"`
but then if we call `json.NUMINCRBY foo $.e 1.7e308` again we get
`(error) OVERFLOW Addition would overflow` because max double is ~ `1.8e308`

[2022-08-13 09:46] romange opened #241 "implement JSON.TOGGLE & JSON.ARRLEN & JSON.OBJLEN commands"
see https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-toggle.html
https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-objlen.html

and https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/json-arrlen.html

[2022-08-13 09:58] romange commented on #104
Due to #238 we must introduce internally a dedicated type for json. That means we will need to support json inside compact_object. Still, I want relaxed semantics for READONLY json commands. For example, `JSON.GET` should work on both strings and json types. `JSON.SET` should produce json types only.

[2022-08-13 10:03] Nike682631 commented on #199
@romange Is it possible to make a dragonfly build from source on archlinux?

[2022-08-13 10:07] romange commented on #199
I believe it's possible but I've never used archlinux and I do not know how to run it on VirtualBox.

[2022-08-13 10:11] romange commented on #199
But if you use archlinux on your host and you do not know how to build dragonfly, you may run ubuntu 20.04 via VirtualBox (you would need to learn how to do it - I do not know myself) and then build dragonfly there using the instructions on our [contributing guide](https://github.com/dragonflydb/dragonfly/blob/main/CONTRIBUTING.md)

[2022-08-13 10:41] Nike682631 commented on #199
@romange So I was able to build dragonfly in arch but I had to make some changes
## Steps

- git clone --recursive https://github.com/dragonflydb/dragonfly && cd dragonfly
- sudo pacman -S ninja libunwind boost libtool cmake
- ./helio/blaze.sh -release
-  mkdir build-dbg
- cmake ../build-opt
- cd ../build-opt
- ninja dragonfly
- ./dragonfly --alsologtostderr

[2022-08-13 10:41] Nike682631 commented on #199
Will add this to documentation once I'm able to fix this issue.

[2022-08-13 12:03] Nike682631 commented on #199
Hi @romange ,
So I added this below code in the already existing test file.

[code]

It gives following error

============================ no tests ran in 1.64s =============================

Will try to debug more on where I might be going wrong. Also I know I might've added too much code. For the time being I was not able to figure out how to introduce a new fixture without changing other funct

[2022-08-13 15:18] romange commented on #237
a pretty extensive [blog post]( https://decovar.dev/blog/2021/09/23/cmake-cpack-package-deb-apt/) that guides on how to build and host debian packages.

[2022-08-13 15:59] romange commented on #237
aptly is to manage the repo and upload it to s3-like bucket (can be gcs as well) https://www.aptly.info/tutorial/repo/

createrepo is somewhat similar tool for rpm packages

[2022-08-15 05:41] iko1 commented on #237
Please consider creating a snap package for the software. Publishing the software through the Snap store can help distribute the software outside the above Linux distributions.

[2022-08-15 09:10] dranikpg commented on #219
* What should the updated eviction process look like? Currently it just pops from a random stash bucket. But what if all its values are sticky? Probably scan the whole segment? Or is that too costly in case of repeated failure?

* Stickyness shoud just be a `MaskBit` is `CompactObj`, right?

[2022-08-15 10:25] romange commented on #219
Good questions, @dranikpg .

1. You are considering a corner case where STICK keys are the majority. Since this feature is experimental, I would first implement the simplest fallback solution - return "out of memory" error. This path already exists for non-caching mode. Then we could improve it IF there will be a customer adoption for this feature.

2. Yes, the code there is a bit messy, and some

[2022-08-15 11:05] dranikpg commented on #219
Great, I'll try this out then if its free to take up

[2022-08-15 12:28] ryanrussell commented on #237
From a devops perspective, it would be really nice to have a cross-platform bash script one-liner install.

Whether you roll by hand, use ansible/chef/puppet, ubuntu/cent, etc... this just works.

Source: https://get.docker.com/

![image](https://user-images.githubusercontent.com/523300/184634807-af53c27a-ad5a-4ddb-8530-52f663702336.png)

[2022-08-15 13:23] romange commented on #219
Go for it!

[2022-08-15 17:11] Nike682631 commented on #199
Hi @romange , Just wanted to confirm with you. The last two messages that I have posted. Do you think I'm going in the right direction? Happy to know any feedback you might have!!

[2022-08-15 19:27] romange commented on #199
yes, if you add a new fixture you will need to adapt functions that depend on it. And yes, it's too much code. Some refactoring is required. Also, you should improve the naming. Call `df_server_with_flag` as `df_server_mem_capped` or something.

The intent is not to run the same test `test_blpop_multiple_keys` but to introduce a different test that actually requires `df_server_mem_capped` to work.

[2022-08-16 09:13] #101 closed

[2022-08-18 20:30] yuelimv opened #248 "compilation issue with boost 1.75"
Trying to build dragonfly following the instructions on my Rocky Linux 9 box, which by default installs boost and boost-fiber 1.75.0 through yum / dnf.

The compilation complained about things that perhaps no longer exist in the latest boost. Is there any plan to support newer boost versions?

For instance:

[code]

[2022-08-18 20:52] romange commented on #248
@yuelimv  it's weird because helio actually supports the old and the new boost versions.
See https://github.com/romange/helio/blob/master/util/fibers/event_count.h#L29

can you please tell me what is the `BOOST_VERSION` in your `boost/version.hpp` ?

[2022-08-18 21:13] yuelimv commented on #248
@romange here it is

[code]

[2022-08-18 21:27] romange commented on #248
can you please change `util/fibers/event_count.h` in your workspace and replace 107600 with 107500 ?

[2022-08-18 21:35] yuelimv commented on #248
Yes, that changes now make the code compile.

[2022-08-18 21:49] romange commented on #248
if you wish, submit a PR into helio or I will fix it next week.

[2022-08-18 22:01] yuelimv commented on #248
sure, here you go
https://github.com/romange/helio/pull/8

[2022-08-19 12:26] #248 closed

[2022-08-20 08:06] #241 closed

[2022-08-20 13:54] romange commented on #219
Fixed by #245

[2022-08-20 13:54] #219 closed

[2022-08-20 14:03] romange opened #249 "implement creation of deb package"
part of much bigger #237

a pretty extensive [blog post](https://decovar.dev/blog/2021/09/23/cmake-cpack-package-deb-apt/) guides on how to build debian packages. Also  https://earthly.dev/blog/creating-and-hosting-your-own-deb-packages-and-apt-repo/ but it does not use cmake.

no need to host or build a repo, just to make sure we can build the deb using `cpack -G DEB`.
The goal at this point is t

[2022-08-22 11:14] romange commented on #199
@braydnm I am assigning to you

[2022-08-22 12:08] Nike682631 commented on #199
@romange I was kinda working for this. Got a little late because of the end sem exams. Is this issue already resolved? I can see some commits from @braydnm but not sure about it

[2022-08-22 12:12] romange commented on #199
It seems that @braydnm cracked that down.

[2022-08-22 12:14] Nike682631 commented on #199
I see. Sure I'll work on other issues.

[2022-08-22 12:36] romange opened #251 "persist STICK property in RDB file"
we allow to mark entries as STICK, but this does not persist via rdb snapshots.

we can do it by introducing `RDB_OPCODE_DF_MASK=200` (to give enough space to Redis future opcodes)
that is gonna be followed by an unsigned integer. Currently just use a single bit in that integer to describe stickiness.

[2022-08-22 12:42] romange commented on #91
update: we need to finish 2.x commands, bits commands, watch/unwatch commands.

[2022-08-22 12:45] romange commented on #113
@drinkbeer  I am closing. Feel free to reopen if you have any questions

[2022-08-22 12:45] #113 closed

[2022-08-23 09:36] romange opened #253 "implement cache testing tool"
The tool should be able to read traces from https://github.com/twitter/cache-trace
and send them to a redis endpoint.

the code should preferrably be structured in such way that we could easily add another trace format in the future.

The tool can probably be implemented in python since I guess we must send requests sequentially from a single connection anyway. Actually, I am not sure - the traces

[2022-08-23 09:41] romange opened #254 "replace dict with string_set"
Check out ExpSet branch.

Specifically, learn how string_set works.
The goal is to introduce an alternative implementation to dict-based variation of SET data-structure.
Currently, it uses intset and dict. The goal is to keep the runtime flag that allows us to use intset and StringSet (instead of dict).
some initial work is already done but not till the end.

that should save a LOT of memory for u

[2022-08-23 17:49] romange commented on #224
I easily succeeded to reproduce this when using large values with:

`memtier_benchmark  --ratio 1:0 -c 1 -d 32768 --hide-histogram --distinct-client-seed -n 1000`
by playing with `n`, `c` it is possible to cause dragonfly to be far from reaching its current dashtable capacity but still cross the memory limit due to large values. Possible solution - we should also evict items with segments that are

[2022-08-24 15:37] bigdaronlee163 opened #255 "contribution"
I want to contribute to this project. Can I be assigned some tasks?

[2022-08-24 15:50] romange commented on #255
Thank you for volunteering! can you please ping me in discord?
FYI, the project is written in c++ and requires good knowledge of the language.

[2022-08-24 17:01] drinkbeer commented on #113
Thank you @romange , this issue can be used. The next step, we will probably build Dragonfly in our staging environment, and benchmark it along with Envoy proxy (which is the proxy used with KeyDB in our Prod).

Here are some results of our benchmarking. The performance of Dragonfly looks great.

*(updated at July 4th, 2022)*

# TL:DR

We deployed Dragonfly, KeyDB on `c2-standard-60` machines (30

[2022-08-24 17:39] romange commented on #113
@drinkbeer  These are fantastic results! It really makes me happy 🕺🏼 to see that Dragonfly provides value!
Jianbin, I would like to have a quick chat with you on discord or google meet. Will it be possible?

[2022-08-24 22:06] drinkbeer commented on #113
I would love to. I sent an invitation through your LinkedIn. Let's chat.

[2022-08-25 08:12] #255 closed

[2022-08-25 10:21] romange opened #256 "improve eviction policy"
## The problem

Related to #224
how do we decide on evicting items when a segment is not full?
when it's full, we have a healthy drifting of unneeded items towards stash buckets.
then we can add new items into stash buckets and delete the drop-outs.

When it's not full, there is no pressure and there is no drifting: items are just added into empty slots.
So if we evict anything, it's gonna be rand

[2022-08-25 10:48] romange commented on #256
Another idea related to the recution of number of segments - to improve the heuristic that allows adding a new segment in the first place. I actually like this idea, because the mess is created because we over-increase our table by adding more segments than we can fill.

How do we do that? We should estimate what's the average memory usage of an item in our shard, and then compute the projected me

[2022-08-25 11:52] acheevbhagat commented on #249
I can take a crack at this one, but I won't have time to start on it for the next 3 or 4 days

[2022-08-25 11:55] romange commented on #249
thanks Acheev, much appreciated. and it's not urgent at all.

[2022-08-25 16:43] romange commented on #256
ok, so the heuristic above works pretty well.
i run `./dragonfly --alsologtostderr   --cache_mode   --maxmemory=2700000000` on my 8 CPU machine.

without this heuristic, DF reaches a stable state with:
[code]
i.e. dashtable is almost 3 times more over-provisioned .

with the fix:
[code]
pretty tight!
I will follow up with the PR shortly.

[2022-08-25 18:56] romange opened #257 "recognizing hot keys"
Motivation: https://blog.box.com/introducing-memsniff-robust-memcache-traffic-analyzer

for large scale deployments, caching teams would like to learn about hot keys in real-time so that they could handle them in a special way.

Currently, teams develop sniffers! (see the link) to do so. It's not very elegant way and very CPU intensive. We could integrate it into DF and provide native support for

[2022-08-25 20:26] romange commented on #257
Algorithms that might help:
https://www.usenix.org/conference/atc18/presentation/gong
https://www.cs.technion.ac.il/users/wwwb/cgi-bin/tr-get.cgi/2016/CS/CS-2016-01.pdf

we should choose the simpler one, not necessarily the most sophisticated one.

[2022-08-26 10:54] #161 closed

[2022-08-26 10:54] #199 closed

[2022-08-26 12:00] #224 closed

[2022-08-27 07:44] romange commented on #254
the initial plan is as follows:

- [ ] to write an md file explaining string set
- [ ] to pull out `sds` related code out of StringSet and replace it with abstract virtual functions that abstract away the functionality related to it. Provide a concrete class that uses sds as StringSet type.
- [ ] Implement Erase method

[2022-08-29 10:07] romange opened #261 "add a pytest test that checks redis/df replication"
it should:

1. Start a redis server
2. Start a DF server
3. Populate Redis with data, and DF with data. Continue with adding data to redis.
4. set DF as a secondary replica of Redis server.
5. Validate that DF is synchronized with Redis. DF should disappear, Redis data should by synced.
6. use "DEBUG REPLICATE PAUSE" to pause replication negotiation in case of disconnect
7. kill DF replication con

[2022-08-29 20:59] recursionbane opened #263 "Release musl builds for CentOS 7"
**Did you search GitHub Issues and GitHub Discussions First?**
Yes

**Is your feature request related to a problem? Please describe.**
Attempting to run on CentOS 7 yields GLIBC errors

**Describe the solution you'd like**
Release musl builds so newer versions of GLIBC are not required. A performance hit is expected for this convenience.

**Describe alternatives you've considered**
Currently using

[2022-09-02 07:19] wuan001 opened #264 "Can I start on win11"
**Did you search GitHub Issues and GitHub Discussions First?**
Many users may find their feature is already being discussed. Help us keep duplicates to a minimum by searching for your feature first to see if it is already in progress.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**D

[2022-09-02 07:31] romange commented on #264
Dragonfly is for linux only

[2022-09-02 07:31] #264 closed

[2022-09-02 07:32] romange commented on #263
CentOS is 10 years old. Does it even have kernel 5.10 or later?

[2022-09-02 15:56] recursionbane commented on #263
Kernel is 4.14

Yes, it's an old OS, but it is the OS of choice for large enterprise compute farms.

[2022-09-02 17:39] romange commented on #263
In 2 years' time, this kernel will reach EOL.
We currently do not support kernels older than 5.10, since Dragonfly relies on io_uring instead of epoll.
So glibc is not the most significant barrier here. We might consider supporting older kernels if an interesting enterprise design emerges. wink wink.

[2022-09-02 22:27] webclinic017 opened #267 "Flash Disk - Support"
Is there a planned support for flash disk / drive - based support - akin to redis / key db

https://github.com/szstonelee/redrock [ RedRock automatically converts data that exceeds memory to disk storage. In this way, hot data is in memory to ensure access speed, and cold and warm data is in disk and supports real-time reading and writing. RedRock does automatic hot and cold conversion for this pu

[2022-09-03 10:51] #263 closed

[2022-09-03 11:39] romange commented on #257
after reading these paper I think it's better to start with HeavyKeeper.
We even do not need to maintain a min-heap data structure because query complexity is not the issue here - we need to focus on fast updates.

[2022-09-04 14:56] kakserpom opened #270 "redis-cell port"
Hey!

There's a small and yet very nice module for Redis: https://github.com/brandur/redis-cell
It would be really nice to have it ported into dragonflydb :)

[2022-09-04 15:57] romange commented on #270
Как серпом по яйцам?!
Ok, it's indeed a nice module. Also, it has a reference to the algorithm it implements, so should not be very hard to implement.

[2022-09-04 17:18] romange commented on #270
For reference, here is the [blog post about the algorithm](https://brandur.org/rate-limiting) by the author of the module,
here is the [wiki article](https://en.wikipedia.org/wiki/Generic_cell_rate_algorithm)

[2022-09-05 07:39] odedponcz opened #271 "Wrong DF version displied in info command"
I am running the latest container using:
docker run --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly:latest

in redis-cli I am running "info server"
I get the wrong version:
127.0.0.1:6379> info all
# Server
redis_version:df-v0.3.1

[2022-09-05 09:45] romange commented on #271
How do you know that you run the latest container?
I am pretty sure it's not the latest.

[2022-09-05 12:34] romange commented on #271
works as expected

[2022-09-05 12:34] #271 closed

[2022-09-05 17:54] kakserpom commented on #270
Да-да. kak.serpom.po.yaitsam собака gmail ком

[2022-09-07 10:35] dranikpg commented on #184
The solution I see is:
1. Getting the lua-cjson files from github.com/mpx/lua-cjson
    - We only need a subset of its files. `add_third_party` currently uses `ExternalProject_Add`. I'm not sure whether its better to extend `add_third_party` with some more clumsy options for extracting files from different sources or download cjson with a separate command and just cp the required files on the `CON

[2022-09-07 10:50] romange commented on #184
Given that this project is not under active development, you also have an option to just copy the files you need under `src/redis/` dir (not sure if it simplifies your life or not). Why do we need just a subset of files? Can we just download and build the project as it is (with patching if needed) ?

[2022-09-07 11:11] dranikpg commented on #184
Yes, this would be even easier if this is ok. I was just skeptical of keeping files around locally when a download seems "cleaner".

We need to make sure we don't accidentally overwrite the makefile when merging

We can. I suppose redis inlined builds because its just easier to inject a few source files rather than building separate projects and storing all of their files.

All that cjson depends

[2022-09-07 11:28] romange commented on #184
I do not mind adding 3rd party lua modules under `src/redis/lua` -  the main metric I look at is the maintenance cost. I assume that in this case is maintenance is negligible because most libraries are probably not under active development.

1. I prefer that we won't add them into lua build, i.e. build them separately when lua library being their dependency. It should resemble how they are usually

[2022-09-07 11:47] dranikpg commented on #184
Got it. So I'll add each project with its native make file and trigger its build from cmake after downloading lua?

[2022-09-07 11:49] romange commented on #184
We support it natively, see https://github.com/romange/helio/blob/master/cmake/third_party.cmake#L269 for example.

[2022-09-07 11:55] romange commented on #184
No, if you just copy .h,.c files into `src/redis/lua` then also introduce our native CMakeLists.txt which creates a library.
you can easily control compiler options/defines in cmake if needed. I can help you, just ping me on discord...

[2022-09-07 13:37] romange commented on #184
I took a look at bitops lib.

Unfortunately, http://bitop.luajit.org/download.html version does not work with lua >= 5.3.

I searched for answers in github and found this patch https://github.com/LuaJIT/LuaJIT/issues/384 that should fix the issue.
For some reason, it did not land into the official repo, but I saw folks actually use it. Therefore, I suggest that you take the version with this patch

[2022-09-07 20:26] dranikpg opened #272 "Dragonfly propagates sentinel errors to tables in lua scripts"
**Describe the bug**

Discovered when testing #182. The following script:
[code]
expects `conj_ttl` always to be a number. Dragonfly instead returns errors as lua tables (aka js-like objects) with a detailed cause.

**To Reproduce**

Dragonfly:
[code]

Redis:
[code]

**Expected behavior**

Return sentinel errors in scripts as lua numbers

[2022-09-08 04:54] romange commented on #272
Well, it's not a bug yet - it's by design.
DF implements lua scripting in strict mode, where if you access keys withing a script you need to declare them first like this:
`EVAL "return redis.call('ttl', 'nonexistent')" 1 nonexistent`

[2022-09-08 04:57] romange commented on #272
the question is whether https://github.com/Suor/django-cacheops tests pass  - #184

[2022-09-08 05:04] dranikpg commented on #272
They don't, because the comparison in the snippet fails

[2022-09-08 05:13] romange commented on #272
please deep dive into this because when I look at their code:

https://github.com/Suor/django-cacheops/blob/917a0fbd92dccd2f64a2a28a245436057c3f1f27/cacheops/query.py#L53
i see that they do pass keys they access. So I wonder where the gap is.

you can run dragonfly with `--vmodule=main_service=2` to see all the incoming commands.

[2022-09-08 05:37] romange commented on #249
hi @acheevbhagat, are you planning on working on this?

[2022-09-08 11:02] dranikpg commented on #272
`conj_key` is not passed anywhere - its generated in `conj_cache_key`

[code]

So its _programmatically generated_

The Redis docs state the following:

So, I guess django-cacheops is using it incorrectly

[2022-09-08 11:15] romange commented on #272
hmmm, ok...

then this task will be harder for you to fix. we can support undeclared keys as well, but it requires a really good understanding how transactions work in DF.

[2022-09-08 11:38] odedponcz commented on #23
Testesd on the latest version:
./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/set  --only "SDIFFSTORE against non-set should throw error"

Passed

./runtest --host localhost --port 6379 --tags -cluster:skip --ignore-encoding --ignore-digest --quiet --singledb --single unit/type/set  --only "SDIFF against non-set s

[2022-09-08 11:38] #23 closed

[2022-09-08 12:10] acheevbhagat commented on #249
Ah yes I am.
Truthfully, I forgot I had put my name on this issue. Thank you for reminding me, I am still planning on doing this.

[2022-09-08 12:17] romange commented on #249
Well, now you are officially assigned 😆
I will keep reminding you from time to time ;)

[2022-09-08 12:23] romange commented on #170
@dranikpg it's a very easy bug once you know what to fix and it's very complicated because it requires from you to understand how DF connection management works. It's not urgent and serves more as an education task to learn the code in that area...

[2022-09-08 21:04] dranikpg commented on #91
Lets start with watch & unwatch

### How Redis does it

The whole management is really simple:

- `struct watchedKey` stores basic info (key, db, client)
- WATCH adds a `watchedKey` to the clients watch list `c->watched_keys` and a global table `c->db->watched_keys`, which stores a list of dependant clients for every key
- When a key is updated, all clients in `c->db->watched_keys[key]` are marked

[2022-09-09 05:21] romange commented on #91
I do think it's a minor feature. You can see what we currently store inside a db, see `DbTable` class for that.
Specifically, we maintain `trans_locks` that we use to track the ongoing transaction locks. In fact, check in DbSlice for `CheckLock` , `Acquire` and `Release` that you could probably use to piggy-back and store some information about watched keys.

The only complexity I see is that stor

[2022-09-09 05:41] romange commented on #91
Thinking about it a bit more - you will have to clean up DbTable's watched table upon connection closure - i.e. there will be some interaction between a connection lifetime and DbTable's state.

[2022-09-09 07:17] dranikpg commented on #91
The purpose of DbTable's watched table is that EVAL doesn't have to query its own keys. However, it still has to unregister all its keys (it does on the first watch fail). What is more, EVAL directly checks for expirations of all of them 🤔 So in the end it has to query all keys at least once. It seems like with a few watched keys, the `db->watch_keys` has more overhead than speedup. Do you see the

[2022-09-09 07:25] romange commented on #91
Lets forget about fast-fail, and complexity of going over all the keys right now. Assume that the watched list is short.

Are you saying that we can store all the info in connection and get done with it?
what will you store in the map? the dirty flag? i.e. `key->bool` mapping? `key->unsigned` mapping for versioning?
how another shard will know to update those keys in those connections?

[2022-09-09 07:33] romange commented on #6
# high level design

We can use [lamport clock](https://www.geeksforgeeks.org/lamports-logical-clock/) mixed with the wall clock.

1. When we start a transaction we sample the wall clock, and bind its value to that transaction.
2. When we perform the operations on DbSlice we should use the clock value from that transaction.
    For that we should replace all DbSlice interfaces like `FindExt(DbInde

[2022-09-09 07:35] dranikpg commented on #91
There is obviously no way for it

Yes. If we use simple version codes, we might miss a `DEL-SET` sequence. Instead, the last modified time with nanosecond granularity seems like an option. Then, on EXEC, we'll just check the time didn't change (so the key has no newer timestamp)

Besides, Redis doesn't even bother to use a map for the connections data. Watch checks are O(k)

[2022-09-09 07:38] romange commented on #91
So thread T1 holds a connection C that has a watchmap with key `K` belonging to a shard in thread T2.
Now  a SET operation changes K in T2. How does it know to search for C and update K in c->watched?

[2022-09-09 07:41] romange commented on #91
Forget multi-threading - how a single-threaded system will know to search for C ?

[2022-09-09 07:46] romange commented on #182
@alexted - look at #184 - we confirmed that this library does not work with DF yet.
1. It requires cjson lua support
2. It uses relaxed Lua scripts that access run-time generated, undeclated keys (DF does not support it today).

[2022-09-09 07:55] dranikpg commented on #91
There is no double-sided dependency. The key just cares for itself, but it stores a timestamp with its own last update time (we'll have to add it at some point to support OBJECT IDLETIME).

WATCH just stores the timestamp TK of some key K at the time of call in C, meaning "I still expect K to have timestamp TK when I start EXEC". If TK changed since WATCH, then the key was modified. So the values

[2022-09-09 08:07] romange commented on #91
So you suggest storing the last modified timestamp for every entry in DF inside DbTable ? or just for watched keys inside DbTable?

[2022-09-09 08:11] dranikpg commented on #91
Yes, for all. We can't store them selectively without query overhead

[2022-09-09 08:14] romange commented on #91
So my problem with this is that for a pretty minor feature we need to add space overhead of 8 bytes per key.
Even for expiry (which is much more common) we complicated things so that the memory usage with be incremental with the feature. Please note that memory usage is the primary cost factor when using a memory store.

Therefore, I think trading implementation complexity is well worth the overhe

[2022-09-09 09:43] dranikpg commented on #91
Oh, okay. That answers all of my questions above. If Dragonfly doesn't intend to support IDLETIME, then adding memory overhead just for WATCH isn't worth it.

[2022-09-12 01:55] acheevbhagat commented on #249
Just wanted to drop a small update
I have created a packing.cmake file to generate the deb package, and it seemingly works installing to my vm, but I want to do some more testing and make sure it's actually working properly + learn some more about cpack to make sure I'm doing things right.
I have the changes on my fork if you care to check them out, and if you want me to put up a wip pr I can do t

[2022-09-12 08:00] romange commented on #249
Thanks, Acheev. I actually do not know myself how to generate the deb package, so at this point you already know better than me.
I trust you do the necessary checks. Shoot the PR afterwards! :)

[2022-09-12 08:00] dranikpg commented on #170
Is it really an easy bug to fix?
So, what is causing this bug:
1. After subscribe, `IoLoop...ParseRedis()` is choosing the slow path to dispatch `QUIT` via the dispatch fiber
2. The `IoLoop` blocks on `peer->Recv(append_buf);` waiting for more data
3. The dispatch fiber stops after processing QUIT (as expected) by checking the builder error
4. `ConnectionFlow` blocks on `IoLoop`

It makes sense fo

[2022-09-12 09:18] romange opened #279 "Add WATCH and UNWATCH commands"
Part of #91 task.

[2022-09-13 02:25] #170 closed

[2022-09-13 08:15] boazsade opened #281 "Why is SETNX skipped?"
### Discussed in https://github.com/dragonflydb/dragonfly/discussions/154

<div type='discussions-op-text'>

<sup>Originally posted by **acheevbhagat** June 15, 2022</sup>
Sorry if this is a basic question, but why is SETNX from string family skipped?

Is it because of some challenge in implementation, or is it just because nobody has gotten around to it yet?</div>

This command will be supported.

[2022-09-13 08:16] boazsade commented on #281
This will be added soon to the list of supported commands.

[2022-09-13 09:55] boazsade opened #284 "support set command with EXAT and PXAT options"
The set command allow to set the expiration time based on offset (seconds or milliseconds resolution) with the EX and PX options and with absolute time (EXAT and PXAT) options
Right now Dragonfly supports only offset expiration for the value and not the absolute option.
Need to add this support to be compliant with REDIS.
See example at [REDIS set command documentation](https://redis.io/commands/s

[2022-09-13 15:20] dranikpg opened #286 "Support MOVE command"
Part of #91

[2022-09-13 15:25] dranikpg opened #287 "Support SORT command"
Part of #91

[2022-09-13 16:14] #279 closed

[2022-09-14 05:37] romange opened #291 "integrate pytests into github actions"
a dedicated github actions pipeline that build dragonfly and runs pytests located under "tests/dragonfly" every 3 days

[2022-09-14 05:39] romange opened #292 "make sure presubmit checks run as part of the PR checks"
specifically, they should verify clang formatting.

[2022-09-14 07:42] romange commented on #292
Duplicate of #200

[2022-09-14 07:42] #292 closed

[2022-09-14 07:43] #281 closed

[2022-09-14 11:38] ryanrussell opened #294 "`__builtin_clzl` vs `__builtin_clzll`"
**Describe the bug**
Noticed this in `src/core` while doing some housekeeping...

[code]

**Expected behavior**
Canonical naming. Should these be canonicalized, or is this `l` vs `ll` intentional?

[2022-09-14 12:26] ryanrussell commented on #294
Should have checked first, for `longlong`

https://gist.github.com/pps83/3210a2f980fd02bb2ba2e5a1fc4a2ef0

[2022-09-14 12:26] #294 closed

[2022-09-14 15:14] Sulunia opened #296 "Startup errors with return code 132"
**Describe the bug**
Using docker, I am unable to run dragonfly at all. Platform seemingly fits all requirements, which makes it quite mysterious... :thinking:

**To Reproduce**
I'm currently trying to run it with `docker run --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly --vmodule=main_service=2 --logbuflevel=-1`
There is no output, besides a **return code 132**

*

[2022-09-14 15:27] ryanrussell commented on #296
@Sulunia

I just tried your command on a Ubuntu 20.04 and it works fine. When I google error 132, I see stuff about cpu instruction sets.

Can you try this?
[code]
Ref: [Exit Code 132 on SO](https://stackoverflow.com/questions/60930359/docker-containers-exit-code-132)

I suspect you have an older cpu model on this box?

[2022-09-14 15:29] romange commented on #296
@ryanrussell is right. Also,
try running `docker run --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly --logtostderr`
does it show anything?

[2022-09-14 16:59] Sulunia commented on #296
Oooh, that's a nice catch. Apparently, this CPU lacks AVX instruction set.
![image](https://user-images.githubusercontent.com/9919801/190216274-5dc35dfa-a619-4482-8bd0-f83becee7126.png)

@romange
There is no output, even with the command line provided. I suppose it's a "hard error" not having the required instruction set.

Is it possible to keep on using a dockerized dragonfly in this case?

[2022-09-15 06:18] scaleoutsean opened #300 "Future date in LICENSE.md"
`<u>Change Date</u>: June 1, 2027`
https://github.com/dragonflydb/dragonfly/blame/main/LICENSE.md#L9

I haven't seen a future-date license. What does that mean? Will you change the license in 2027?

[2022-09-15 06:30] romange commented on #296
I do not think you can use even non-dockerized version of dragonfly on a hardware it does not support. Why do you want to run dragonfly on embedded hardware?

[2022-09-15 09:41] romange commented on #253
Lets start with the following tasks
1. Implement a tool in python that sends a traffic distributed using [zipfian distribution](https://en.wikipedia.org/w/index.php?title=Zipf%27s_law). I am an expert in statistics, but I know many papers use zipf for skewed traffic when testing cache with `alpha` < 0. For some reason,  default python libs do not seem to provide zip generator that fit these requir

[2022-09-15 10:46] odedponcz opened #302 "maxmemory should support human-readable format like MB or GB"
Maxmemory is configured in bytes. For ease of use, inputs in human readable format should be allowed
i.e.
./dragonflydb --maxmemory 5GB
./dragonflydb --maxmemory 512MB
./dragonflydb --maxmemory 240GB

I do not think KB should be supported as min memory is 256MB anyways.

[2022-09-15 11:59] Sulunia commented on #296
Fortunately, there is no specific or special reason to use dragonfly in this case, besides "I like the project and it's great" :smile:

However, I'd recommend mentioning the required AVX support in order for dragonfly to work. Thanks for the help on cracking this case :sunglasses:

[2022-09-15 11:59] #296 closed

[2022-09-16 04:58] dph5199278 opened #303 "Are there support memcached binary protocols?"
**Describe the bug**
When I use text protocols, everything is ok. But when I use binary mode, the program will report an error.

**To Reproduce**
1. Use xmemcached binary protocols to connect dragonfly
2. Use set methot
3. See error

**Expected behavior**
work to ok.

**Screenshots**
![image](https://user-images.githubusercontent.com/5254255/190559689-14d0bea4-031d-4eac-baf3-f1fe3d3fe029.png)

**E

[2022-09-16 05:15] romange commented on #303
indeed, we have not implement memcached binary support yet.

[2022-09-16 06:02] dph5199278 commented on #303
Are there any plan to support binary protocols?

[2022-09-16 06:20] romange commented on #303
Yes, we have plans. Pls dm me at discord or send me an email - I would like to understand your use case better before prioritizing this task.

[2022-09-16 07:13] dph5199278 commented on #303
[memcached-test.zip](https://github.com/dragonflydb/dragonfly/files/9581529/memcached-test.zip)

This is my complete use case.
Thanks.

[2022-09-16 07:22] romange commented on #303
I am not talking about a reproducible test, I am talking about your system in general. Why do you use memcache in 2022 when writing a new code and cetera.

[2022-09-16 08:31] dph5199278 commented on #303
: )  In my case
1. I am not use memcached for my new code
2. There are many old systems that use memcached, I want to compare Memcached with Dragonfly to see whether the cost can be reduced for migration.
3. redis is different from its interfaces, and the migration cost is high

Thanks.

[2022-09-16 08:41] romange commented on #303
Ok, so it's actually an interesting use-case for us and this is why I wanted to chat with you. You prefer talking here? Discord is  faster...

[2022-09-16 08:54] dph5199278 commented on #303
Yes, I never used Discord, so this is better : )

[2022-09-16 09:10] romange commented on #303
ok,

1. what's the size of your memcached cluster? are you throughput constrained? memory bounded?
what would be the decisive factor for you to switch to DF i.e. what's the cost difference that would cause the flip?

2. Can you check with text-based protocol and decide whether it's more cost efficient for you without binary protocol support?

my email is roman -at- dragonflydb.io  - feel free to r

[2022-09-16 16:16] dph5199278 commented on #303
what would be the decisive factor for you to switch to DF i.e. what's the cost difference that would cause the flip?

1. Dragonfly supports the interface between Redis and Memcached, and the data is interoperable
2. The dictionary data of the old system takes a lot of time to access for the first time after the memcached is restarted
3. The old system uses Memcached for session synchronization, wh

[2022-09-18 10:15] romange opened #307 "rename command does not create values using the thread local allocator"
The assertion at line zmalloc_mi:40 fails when running generic_family_test - `RenameNonString` test.

[2022-09-18 10:39] romange opened #308 "CI: introduce weekly alpha releases"
We should build a docker container on weekly basis to allow testing the latest code

[2022-09-18 10:42] romange opened #309 "CI: integrate github events with Discord"
1. we should send "released" announcements into the announcement channel. Probably should be part of `.github/workflows/docker-release.yml` flow
2. we should introduce the "github" channel in our Discord and send there PRs and commits notifications.

This action can possible help with that:
https://github.com/Ilshidur/action-discord

[2022-09-18 10:49] Tomato6966 commented on #309
for the updates you can just go to --> repo settings --> webhooks --> create

paste discord channel webhook url

add /github to the end

in the repo settings webhook, allow json thingy
and then click send everything

[2022-09-18 12:27] rohanverma94 opened #310 "io_uring error on Fedora Server"
On the main branch, after ``ninja dragonfly`` in ``build_opt`` directory. I'm getting following error -

```dragonfly/helio/util/uring/proactor.cc:441:13: error: ‘io_uring_register_ring_fd’ was not declared in this scope; did you mean ‘io_uring_register_eventfd’?```

Is this related to ``io_uring`` version?

[2022-09-18 12:40] rohanverma94 commented on #310
My bad, I was playing with my fork on another machine. It is resolved now!

[2022-09-18 12:40] #310 closed

[2022-09-18 17:57] #286 closed

[2022-09-19 12:44] pascaldekloe opened #316 "PUBLISH receiver after confirmed UNSUBSCRIBE"
The receiver count returned by PUBLISH can be inaccurate.

The following test case fails with `UNSUBSCRIBE foo got response ":0", want ":1"`.

[code]

[2022-09-19 13:16] pascaldekloe commented on #316
Faulty test case. My bad.

[2022-09-19 13:16] #316 closed

[2022-09-19 13:34] #284 closed

[2022-09-20 16:46] iko1 commented on #238
can you assign it to me please?

[2022-09-21 10:38] romange commented on #239
Fixed

[2022-09-21 10:38] #239 closed

[2022-09-21 11:15] iko1 commented on #240
This issue can be closed

[2022-09-21 12:19] romange commented on #240
🚀

[2022-09-21 12:19] #240 closed

[2022-09-22 20:22] Tomato6966 opened #321 "Oneliner Bash Command to install latest unstripped executional file"
[code]

first get the latest download link

then extract it
then remove the tar.gz file

viola it's done

[2022-09-22 21:08] Tomato6966 opened #322 "Clear Memory"
Memory is not cleared, once entries deleted / flushed / trimmed

when i do

ltrim

delete

FLUSHALL

then it gets removed.
but the memory usage stays at it is.

after restarting the memory usage drops down again.

[2022-09-23 04:17] #287 closed

[2022-09-23 09:19] romange commented on #322
we will focus on `FLUSHALL`/`FLUSHDB`

[2022-09-24 05:14] yonas opened #325 "Cannot start docker container: SIGILL exit code"
**Describe the bug**
Running `sudo docker run --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly` results in SIGILL abort.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `sudo docker run --network=host --ulimit memlock=-1 docker.dragonflydb.io/dragonflydb/dragonfly`

**Expected behavior**
1. `sudo docker run --network=host --ulimit memlock=-1 docker.dragonfly

[2022-09-24 05:15] kakserpom opened #326 "ZRANGEBYSCORE doesn't support +INF/-INF"
**To Reproduce**
"ZRANGEBYSCORE" "key" "31" "+INF" "WITHSCORES"
(error) ERR min or max is not a float

**Expected behavior**
Redis supports this.

[2022-09-24 05:26] romange commented on #325
@yonas  can you try running a binary from https://github.com/dragonflydb/dragonfly/releases ?
what's your `/proc/cpuinfo` ?

[2022-09-24 07:29] yonas commented on #325
@romange When I run `dragonfly-x86_64`, I get `Job 1, './dragonfly-x86_64' terminated by signal SIGILL (Illegal instruction)`.

/proc/cpuinfo:
[code]

[2022-09-24 08:13] romange commented on #325
the interesting thing is that I tried to solve it (tested on hardware I have and confirmed it works):
https://github.com/dragonflydb/dragonfly/blob/main/src/server/dfly_main.cc#L224
i.e. if there is SIGILL you should have at least a nice message saying why it might happen.
It would really help me to find the root cause, if you run it as:
`gdb  --eval-command=run --eval-command=bt --batch --args ./

[2022-09-24 20:41] yonas commented on #325
[code]

[2022-09-24 21:17] yonas commented on #325
I tried compiling from HEAD (`ca77611` ). A few warnings were produced, but the resulting binary still crashes with SIGILL.

[code]

[2022-09-24 21:27] romange commented on #325
@yonas  Thanks for going the extra mile!
1. I just sent a pr that at least should fix the crash issue (dragonfly will exit gracefully). #328
2. If you want that dragonfly will work on your machine (that does not have AVX), please edit helio/cmake/internal.cmake and change `sandybridge` to `core2`.

[2022-09-24 22:02] yonas commented on #325
It works! :partying_face:

I ran a quick benchmark using hyperfine. Dragonfly - running on port 6380 - is 2x slower than Redis on my machine without the AVX optimizations.

[code]

[2022-09-24 22:02] #325 closed

[2022-09-24 22:11] romange commented on #325
@yonas  this is not how you measure speed of dragonfly or of redis because you measure latency of connect operation and then of the command. 11ms or 25ms mostly measure the TCP connect latency.  Both backends need multiple persistent TCP connections to load them.
I suggest to use memtier_benchmark for that. Also, dragonfly indeed was not designed for running on old laptops :)

[2022-09-27 11:36] romange opened #332 "support cluster mode emulation"
Dragonfly currently does not support cluster mode. However, being a single node, it can support clients that are configured to work
with cluster-mode redis.

Suggested feature:
1. add support for flag `cluster_mode`. The flag should only accept "emulate" or empty value.
2. Add support for "CLUSTER" super command. Specifically, it should return an error if `cluster_mode` is empty.
  if `cluster_mod

[2022-09-27 15:08] Janry opened #333 "iouring system call interface is not supported"
**Describe the bug**
Quick start with docker compose get error
I20220927 12:45:03.816557     1 init.cc:56] dragonfly running in opt mode.
I20220927 12:45:03.816596     1 dfly_main.cc:219] Starting dragonfly df-v0.8.0-7ed808d5d093ec472de4868e02182cb1432c6967
E20220927 12:45:03.816608     1 dfly_main.cc:239] iouring system call interface is not supported. Exiting...

**Environment (please complete t

[2022-09-27 15:36] romange commented on #333
How is wsl not having iouring interface is a bug in dragonfly?

What's your kernel version?  Check here when iouring was added to wsl.
https://learn.microsoft.com/en-us/windows/wsl/kernel-release-notes

[2022-09-29 05:29] foboni opened #335 "TTL for messages in SET"
**Did you search GitHub Issues and GitHub Discussions First?**
Yes

**Is your feature request related to a problem? Please describe.**
Yes, There is no way to set TTL for messages in a KEY

**Describe the solution you'd like**
We should be able to set a message TTL for collections such as SET, LIST etc.
This message TTL will not expire the KEY rather it expires messages

**Describe alternatives yo

[2022-09-29 05:31] foboni commented on #335
A question in SO related to this

https://stackoverflow.com/questions/7577923/redis-possible-to-expire-an-element-in-an-array-or-sorted-set

[2022-09-29 06:34] romange commented on #335
We can start with sets because we laid out our own implementation for this data-structure.

We can introduce a command `SADDEX  key ttl member member member`.
This command will set a TTL in seconds for each of the members.
The next SADDEX command for the same key must have the same TTL, otherwise the error will be returned. Similarly, calling SADDEX on an existing key that was created with SADD wi

[2022-09-29 06:46] #254 closed

[2022-09-29 07:23] foboni commented on #335
[code]
Okay, that's fine.

The proposed solution should work.

Why do you think that it would return approx results ? Once a message is expired, it automatically gets removed from the SET. In that case `SCARD` should return correct result, right ?

[2022-09-29 07:44] romange commented on #335
something needs to actually check and expire it. if we do lazy expiry, SCARD will be approximate. If we apply exact expiry then the CPU and memory usage will be much higher.

[2022-09-29 07:46] romange commented on #335
I do not think that this warrants an introduction of a new data type. SADD will work as expected as long as you do not use SADDEX so it is backward compatible with the existing type.

[2022-09-29 07:59] boazsade commented on #326
This issue relate to the use of INF in capital letters (same command with lower case would work)

[2022-09-29 11:01] #322 closed

[2022-09-29 13:59] odedponcz commented on #335
There is no meaning for having the same TTL for all members of the set if the TTL is set with every SADDEX.
I suggest to allow any set to mix between TTL members and non expired members.
SADDEX will add memebers to the set with TTL
SADD will add members to the set with +INF TTL.

In this implementation errors are not required.

[2022-09-29 16:40] #326 closed

[2022-09-29 16:56] romange commented on #302
we can use `ParseHumanReadableBytes` function from common.h.
One thing to note - absl flags support customer flags parsing. see here for example:
https://github.com/abseil/abseil-cpp/blob/master/absl/flags/parse_test.cc#L201

[2022-09-30 04:30] foboni commented on #335
KeyDB has got similar feature, see [here](https://docs.keydb.dev/docs/commands/#expiremember)

## EXPIREMEMBER

#### Syntax:

```EXPIREMEMBER <key> <subkey> <timeout-in-seconds> <OPTIONAL:unit-time-format>```

#### Description:

Sets a timeout on a subkey (individual member of a set).

After the timeout has expired, the subkey will automatically be deleted. This
command is similar to the EXPIRE co

[2022-10-02 05:25] boazsade commented on #302
https://github.com/dragonflydb/dragonfly/issues/302

[2022-10-03 08:12] boazsade opened #343 "Support for dump command required in order to support rep.app in dragonflydb"
**Describe the bug**
Trying to rename a key using the resp.app fail. The root cause is that the sequence in which the rename is running using the application require the support of the dump command (see bellow), which is not yet supported,
The dump command is currently not supported, this is required in order to support the rename key in resp.app application
**the details of this execution**
This

[2022-10-03 08:20] boazsade opened #344 "Support for monitor command"
**Is your feature request related to a problem? Please describe.**
This is required in order to be able to use resp.app tool. The tool has a button at the man window that is running monitor on the connection. See details on the monitor command [in the redis documentation](https://redis.io/commands/monitor/).
In order to provide the user with the same level of experience as would get working agains

[2022-10-03 08:27] boazsade opened #345 "Support for persist command"
**Is your feature request related to a problem? Please describe.**
This is required in order to support the resp.app application. The application is using this command in order to support the "rename" option for keys that the user can view details on. Without this command the user is not able to rename keys.

**Describe the solution you'd like**
Currently the command [persist](https://redis.io/com

[2022-10-03 08:40] boazsade opened #346 "report real values for the memory command"
**Is your feature request related to a problem? Please describe.**
This would allow monitor the memory usage using redis clients such as redis-cli. This is also used by resp.app
Please note that as of now, the command returns 1 for any key this would run against.
This is used by tools such as resp.app from the main window as a context sub command.
This is not a critical issue.

**Describe the solu

[2022-10-03 08:52] boazsade opened #347 "HScan is not supporting all command options"
**Describe the bug**
According to the the redis documentation for [hscan command](https://redis.io/commands/hscan/), the number of options that the user can pass to this command is 6 - "HSCAN key cursor [MATCH pattern] [COUNT count]", but in the [code for this command](https://github.com/dragonflydb/dragonfly/blob/cf779c08a4ccb4da56bebc60cfddecee52590337/src/server/hset_family.cc#L805), only 3 arg

[2022-10-03 10:15] #335 closed

[2022-10-05 17:22] #347 closed

[2022-10-05 17:32] romange opened #356 "Support ZUNION command"
See https://redis.io/commands/zunion for more details.

For external contributors: we will also accept the basic functionality without supporting of optional arguments.

[2022-10-05 17:33] romange opened #357 "Support ZMSCORE"
see https://redis.io/commands/zmscore/ for more details.

[2022-10-05 17:35] romange opened #358 "Support ZPOPMAX"
See https://redis.io/commands/zpopmax/ for more details

[2022-10-05 17:36] romange opened #359 "Support ZPOPMIN"
see for more details https://redis.io/commands/zpopmin/

[2022-10-05 17:39] romange opened #360 "Support GETDEL"
see https://redis.io/commands/getdel/  for more details

[2022-10-05 17:43] romange opened #361 "Support SMISMEMBER"
See https://redis.io/commands/smismember/ for more details

[2022-10-05 18:25] AayushiSingh005 commented on #361
Can you assign this to me?

[2022-10-05 18:55] romange commented on #361
hey @AayushiSingh005 . Just shoot a PR and I will assign it to you.

[2022-10-05 19:25] romange commented on #361
@AayushiSingh005  I suggest that you start with reading the README. Working on this task requires a good knowledge of C++ and some knowledge of Redis.

[2022-10-06 00:04] devnullone commented on #360
Hello, @romange
Can you assign me this?

[2022-10-06 03:43] romange commented on #360
Please shoot a pr first @devnullone

[2022-10-06 14:34] ATM-SALEH commented on #356
I can have a look into this

[2022-10-07 11:21] #357 closed

[2022-10-07 12:39] #360 closed

[2022-10-07 12:43] romange opened #368 "Support LPOS"
See https://redis.io/commands/lpos for details

[2022-10-07 12:44] romange opened #369 "Support lmove"
see https://redis.io/commands/lmove/ for details

[2022-10-07 12:47] romange commented on #368
A PR with no optional arguments support will also be accepted.

[2022-10-10 00:00] waveywaves opened #374 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new Dragonfly contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for Dragonfly. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up a co

[2022-10-11 07:43] romange commented on #107
The first choice seems more capable even if we won't use all of its
features. Also, it has more stars.

I need to learn this stuff gradually myself.

I use clang-format within vscode and base my code on Google Styleguide with
some relaxations (80 chars width in 2022 borders with masochism).
But I have not used automation checks before.

On Sat, Jun 11, 2022 at 10:31 AM Ryan Russell ***@***.***>
wr

[2022-10-11 09:01] romange commented on #165
Whats this pb level? What's this idc?

On Fri, Jun 24, 2022, 15:04 codgo ***@***.***> wrote:

[2022-10-12 05:03] #309 closed

[2022-10-12 06:37] yovanoc opened #381 "Use the profiler in redis insight"
We can't use the redis insight profiler

With redis:
<img width="1797" alt="image" src="https://user-images.githubusercontent.com/7302317/195267495-2b9bb5c1-027c-417b-b9a2-3e6ed036a6f5.png">

With dragonfly: (I can connect to it with redis insight, just the profiler doesn't work)
<img width="1312" alt="image" src="https://user-images.githubusercontent.com/7302317/195267831-b9068e88-e53e-4c18-aea8-

[2022-10-12 06:37] yovanoc opened #382 "messageBuffer, pmessageBuffer"
Hello, I'm using IORedis, and I would like to use "buffer" hooks, thanks

[2022-10-12 06:55] romange commented on #382
Could you expand? Which commands are you referring to?
Alternatively, a code snippet that reproduces the problem will help.

[2022-10-12 07:10] yovanoc commented on #382
I don't know much more but here's from the ioredis readme:  (https://github.com/luin/ioredis)

<img width="992" alt="image" src="https://user-images.githubusercontent.com/7302317/195274012-04212298-2fcc-47d6-9eb8-f3873454671d.png">

We can listen buffer instead of string, and if I switch to dragonfly instead of a classic redis image it stop working

[2022-10-12 07:21] romange commented on #382
Did you try using "message" instead of "messageBuffer"?

[2022-10-12 07:36] yovanoc commented on #382
Yes, message work and give me strings, I want buffer. That's why they added messageBuffer

[2022-10-12 07:57] romange opened #383 "end-to-end tests for ioredis and dragonfly"
We already have pytests under tests/dragonfly.

I would like to add support for node-js tests. Specifically,  start with ioredis tests.

Ideally, I would like to have the following deliverables:

1. A script that automates local pipeline run - i.e. starts dragonfly binary using `DRAGONFLY_PATH` environment path,
checks out `https://github.com/luin/ioredis` predefined tag ([v5.2.3](https://github.c

[2022-10-12 08:09] romange commented on #382
@yovanoc  Thanks! I am just trying to pinpoint the issue here :)

I opened a task for this. Someone in the community will surely help me with setting up a nodejs test that reproduces the problem and I will be able to fix it then.

[2022-10-12 08:10] yovanoc commented on #382
Perfect, I will read this and see if I can help too ! thanks !

[2022-10-13 02:52] matchyc commented on #356
@romange Hi, I'm new here, a graduate student interested in **DF**! I have seen the primary codes for `zset` related commands, and trying to implement the function.
One question I met is that `zunionstore` is implemented by `read->union->temporary map result->add to destkey` such procedure. But `Union` does not require the last step, and we can send results back to the client after we got the inte

[2022-10-13 04:26] #368 closed

[2022-10-13 04:26] #361 closed

[2022-10-13 05:45] ATM-SALEH commented on #356
@matchyc - I started working on this feature. However, happy as well if you take over

[2022-10-13 05:49] romange commented on #356
Hi @ATM-SALEH since you already started I think it makes sense that you continue...
There are enough tasks for everyone :)

[2022-10-13 05:56] romange opened #385 "SUPPORT GETEX"
see https://redis.io/commands/getex/ for more details.

[2022-10-13 06:00] matchyc commented on #356
Just go on!

[2022-10-13 08:32] matchyc commented on #385
working on that

[2022-10-13 08:35] romange commented on #385
feel free to join our discord - I am available there if you have any questions

[2022-10-13 12:02] #358 closed

[2022-10-13 12:02] #359 closed

[2022-10-13 12:14] romange commented on #383
Hey @Tomato6966 , the goal of end-to-end tests is to make sure that Dragonfly is compatible with the most popular client libraries. It's unrelated to the fact that other libraries may be better, of higher quality, and cetera.

[2022-10-14 02:18] gil-air-may commented on #383
I will start working on this one!

[2022-10-14 02:51] romange opened #389 "Support KEEPTTL and GET options for SET command"
Dragonfly currently does not support those options with "SET" command.
https://redis.io/commands/set/

For keepttl see TODO here: https://github.com/dragonflydb/dragonfly/blob/main/src/server/string_family.h#L34

For "GET", the functionality is there: https://github.com/dragonflydb/dragonfly/blob/main/src/server/string_family.h#L33 but it's not implemented for "SET" command.

[2022-10-15 01:14] romange opened #390 ""wrong number of arguments" must be in lower case"
Some testing frameworks expect this message in lower case.
See below io-redis tests run.

![image](https://user-images.githubusercontent.com/3674760/195962466-851a3a4b-b17b-41fe-afe0-da323ed59cc7.png)

[2022-10-16 09:06] Super-long opened #393 "CMake Error: The following variables are used in this project, but they are set to NOTFOUND."
**Describe the bug**
I tried to compile dragonfly and dive into the source code, but after I executed ". /helio/blaze.sh -release" I encountered the following problem, What should I do to solve this problem？

<img width="1218" alt="截屏2022-10-16 17 03 56" src="https://user-images.githubusercontent.com/46051144/196027307-23b4c9c8-243e-41b8-8385-0ba100de152c.png">

**Environment (please complete the

[2022-10-16 09:43] matchyc commented on #393
Please try to install dependencies in helio directory, just use the script `install-dependencies.sh`.
I suppose that would be enough for you to solve the current problem.

[2022-10-16 10:03] romange commented on #393
@Super-long  specifically you need to run `sudo apt install libxml2-dev`.

then, remove `build-opt/CMakeCache.txt` and run `. /helio/blaze.sh -release` again.
FYI, I submitted https://github.com/romange/helio/commit/83bdf4ef1cb05c53deb6b83aeaa336e67b145371 to make it more clear.

[2022-10-16 10:03] #393 closed

[2022-10-18 00:23] LucianeFernandesRoque commented on #390
Hi I want to issue,please. Thx

[2022-10-18 04:01] junpengqiu commented on #231
in the same environment, if you are running Node-Redis integration test with just the original Redis (not Redis inside DF), would these 13 cases also fail?

[2022-10-18 04:35] romange commented on #390
Send a pr then 🙂. Thanks

[2022-10-18 05:00] romange commented on #231
no, those tests pass.

[2022-10-18 06:07] Tomato6966 commented on #390
in https://github.com/dragonflydb/dragonfly/edit/main/src/facade/facade.cc
line 55
use
tolower(cmd)

but i dont know if it works for not single chars too

[2022-10-18 09:05] nmathew98 commented on #261
Hi if this is not urgent could I be assigned to this?

[2022-10-18 09:05] nmathew98 commented on #389
Hi if this is not urgent could I be assigned to this?

[2022-10-18 09:23] romange commented on #389
It's not urgent but it's on first come first serve basis. Just shoot a PR when you have it implemented.

[2022-10-18 09:25] nmathew98 commented on #389
Ok, will try to push a PR out by weeks end

[2022-10-18 10:53] romange commented on #261
You need knowledge of pytest framework in order to do this. Specifically how to work with fixtures.
Current pytest code is located here under "tests/dragonfly"

[2022-10-18 11:14] romange opened #396 "Heroku deployment integration"

[2022-10-18 11:14] romange opened #397 "Pterodaktyl integration"

[2022-10-18 11:20] romange commented on #249
I do not know enough to say why either option is better. Currently, I just do not have time to learn the domain, waiting for the team to grow and then the task owner will decide.

[2022-10-18 12:42] aryenkhandal commented on #270
It's use for sometimes when the code will execute

[2022-10-18 17:40] romange commented on #390
This is a c++ project that requires good c++ knowledge to contribute. sorry.

[2022-10-18 21:01] LucianeFernandesRoque commented on #390
Sorry, @romange  I thought I could do it, I have Ruby rails as my main language.. Thx

[2022-10-19 05:04] romange commented on #382
@yovanoc  we can not reproduce this on our side.
We run tests from https://github.com/luin/ioredis/blob/main/test/functional/pub_sub.ts and they pass.
Can you provide a minimal example that demonstrates this issue?

[2022-10-19 06:14] yovanoc commented on #382
Ok weird, I will try to do a minimal reproduction then, thanks

[2022-10-19 17:01] #385 closed

[2022-10-19 17:04] romange commented on #356
hey @ATM-SALEH  are you still working on it?

[2022-10-19 17:20] romange commented on #91
Closing as done. Will open a dedicated task for TOUCH

[2022-10-19 17:20] #91 closed

[2022-10-19 17:21] romange opened #409 "Implement TOUCH command"
https://redis.io/commands/touch/

should be very similar to EXISTS

[2022-10-19 17:22] #369 closed

[2022-10-19 19:29] ATM-SALEH commented on #356
Yes - I started working on it. However, couldn't manage time to allocate this week. Hoping to wrap this up this weekend

[2022-10-20 09:52] #343 closed

[2022-10-20 15:32] bigdaronlee163 commented on #409
I want to claim this task， I will  try it 。

[2022-10-21 06:04] ilixiaocui opened #416 "[question] Does dragonfly support SSD storage?"

[2022-10-21 06:31] chenlein opened #418 "Do we need to manually set the value of maxMemory when running on Kubernetes"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
Automatically calculate Max Memory value for containers

**Environment (please complete the following information):**
[code]

[2022-10-21 07:03] romange commented on #418
you should pass `--proactor_threads=2` to limit the number of cpus if I read your yaml correctly.
The problem is that you limit dragonfly to less than 4GB but your VM has 16 cpus and dragonfly requires at least 256MB per thread. By limiting number of threads to your actual limits you solve the problem.

[2022-10-21 07:19] romange commented on #418
Dragonfly binary does not calculate automatically container resources.  My intuition says this approach does not sound right to me. All databases I know use flags/configuration files to set up these things. Do you know any other project (binary) that does it?